---
import VideoImage from './VideoImage/VideoImage.astro';
---

<div class='container grid gap-y-4 lg:gap-y-6'>
  <p class='text-dark-gray text-xs leading-5 font-normal uppercase'>
    BOOTCAMP ALUMNI
  </p>
  <h2
    class='text-dark text-l leading-8 md:text-xl md:leading-2xl font-bold lg:text-2xl'
  >
    Meet our alumni who work at companies like Meta, Google, and Nike!
  </h2>
  <div class='gap-x-4 w-full grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5'>
    <VideoImage>
      <img src='qa-course/alumni-1.svg' class='w-full' />
    </VideoImage>
    <VideoImage>
      <img src='qa-course/alumni-2.svg' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden md:block md:visible'>
      <img src='qa-course/alumni-3.svg' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden lg:block'>
      <img src='qa-course/alumni-4.svg' class='w-full' />
    </VideoImage>
    <VideoImage className='hidden lg:block'>
      <img src='qa-course/alumni-5.svg' class='w-full' />
    </VideoImage>
  </div>
</div>
