<div class='container'>
  <p class='text-dark-gray text-xxs font-normal leading-normal uppercase pb-3'>
    BOOTCAMP ALUMNI
  </p>
  <h1 class='text-dark text-l font-bold leading-normal pb-6'>
    Meet our alumni who work at companies like Meta, Google, and Nike!
  </h1>
  <div class='space-x-4 w-full grid grid-cols-2 md:grid-cols-3'>
    <img src='qa-course/alumni-1.png' />
    <img src='qa-course/alumni-2.png' />
    <img src='qa-course/alumni-3.png' class='hidden md:block md:visible' />
    <img src='qa-course/alumni-4.png' class='hidden' />
    <img src='qa-course/alumni-5.png' class='hidden' />
  </div>
</div>
