---
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import type { TCourse } from 'src/types/Course';
import ImageLiveLectureTools from '/public/home-page/live-lecture-tools-image.svg';

interface Props {
  course: TCourse;
}

const { course } = Astro.props;
---

<a
  href='/'
  role='button'
  class='relative flex w-[240px] cursor-pointer flex-col items-center gap-3 rounded-[16px] border border-[#DEDCD3] bg-white p-3 transition delay-150 ease-in-out hover:-translate-y-4 hover:bg-dark-gray/10'
>
  <div
    class={classNames(
      'bg-[url("/home-page/live-lecture-image.jpeg")] w-full h-[198px] bg-no-repeat bg-cover bg-center rounded-l',
    )}
  >
    <div class='h-full w-full rounded-l backdrop-blur-[2px]'>
      <div class='absolute flex w-full justify-between px-3 pt-3'>
        <div
          class='flex h-[22px] items-center gap-1 rounded-xs border border-[#C0BFB2] px-[6px] py-1 backdrop-blur-[2px]'
        >
          <LiveIndicatorPulse />
          <p class='text-xxs font-normal text-white'>Live Lectures</p>
        </div>
        <Image
          src={ImageLiveLectureTools}
          alt='live-lecture-tools-image'
          loading='lazy'
          decoding='async'
          class='h-6'
        />
      </div>
    </div>
  </div>
  <div class='flex w-full flex-col gap-1'>
    <h2 class='text-xs font-bold text-dark'>
      {course.courseTitle}
    </h2>
    <p class='text-xxs font-medium text-dark-gray'>
      {course.type} &#183; {course.duration} months
    </p>
  </div>
</a>
