---
import LiveIndicatorPulse from "@components/LiveIndicatorPulse.astro";
import { Image } from "astro:assets";
import classNames from "classnames";
import type { TCourse } from "src/types/Course";
import ImageLiveLectureTools from "/public/home-page/live-lecture-tools-image.svg";

interface Props {
  course: TCourse;
}

const { course } = Astro.props;
---

<a
  href="#"
  role="button"
  class="relative w-[240px] flex flex-col items-center p-3 gap-3 rounded-[16px] border border-[#DEDCD3] bg-white cursor-pointer transition ease-in-out delay-150 hover:bg-dark-gray/10 hover:-translate-y-4"
>
  <div
    class={classNames(
      'bg-[url("/home-page/live-lecture-image.jpeg")] w-full h-[198px] bg-no-repeat bg-cover bg-center rounded-l'
    )}
  >
    <div class="backdrop-blur-[2px] w-full h-full rounded-l">
      <div class="absolute flex justify-between w-full px-3 pt-3">
        <div
          class="h-[22px] flex px-[6px] py-1 border border-[#C0BFB2] backdrop-blur-[2px] rounded-xs items-center gap-1"
        >
          <LiveIndicatorPulse />
          <p class="text-xxs font-normal text-white">Live Lectures</p>
        </div>
        <Image
          src={ImageLiveLectureTools}
          alt="live-lecture-tools-image"
          loading="lazy"
          decoding="async"
          class="h-6"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full gap-1">
    <h2 class="text-dark text-xs font-bold">
      {course.courseTitle}
    </h2>
    <p class="text-dark-gray text-xxs font-medium">
      {course.type} &#183; {course.duration} months
    </p>
  </div>
</a>
