---
import { Button } from '@components/Button';
import type { BootcampCourse } from 'src/types/Course';
import CourseCard from './CourseCard.astro';

const defaultCourses: BootcampCourse[] = [
  {
    image: 'home-page/course-image.svg',
    courseLink: '#',
    title: 'Software Engineering',
    courseTitle: 'Software Engineering Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    courseLink: '#',
    title: 'Quality Assurance',
    courseTitle: 'Quality Assurance Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
];
---

<div class='bg-cultured flex h-full w-full flex-col gap-y-6'>
  <p>Go from beginner to expert at your own pace</p>
  <div class='flex w-full gap-x-4'>
    {
      defaultCourses.map((course: BootcampCourse) => (
        <div class='h-full'>
          <CourseCard course={course} />
        </div>
      ))
    }
    <div class='flex-1 p-6'>
      <h3 class='mb-2 text-l font-bold leading-[32px] text-primary'>
        Not sure which is the right bootcamp for you?
      </h3>
      <p class='mb-6 text-gray-700'>It just takes 3 minutes</p>
      <Button title='Take our career quick' />
    </div>
  </div>
</div>
