---
import { Image } from 'astro:assets';
import ContactForm from './contactForm/ContactForm.astro';

import ImageGetInTouch1 from '@assets/qa/get-in-touch-1.svg';
import ImageGetInTouch2 from '@assets/qa/get-in-touch-2.svg';
import ImageGetInTouch3 from '@assets/qa/get-in-touch-3.svg';
---

<div
  class='courses flex flex-col gap-6 pt-12 tablet:gap-4 tablet:pt-6 laptop:gap-6'
>
  <div class='flex flex-col rounded-s bg-white'>
    <div class='flex rounded-s bg-secondary p-6'>
      <div
        class='flex w-full flex-col tablet:w-1/2 tablet:items-start tablet:justify-start tablet:p-6'
      >
        <div class='mb-6 flex flex-row content-center justify-center'>
          <Image
            src={ImageGetInTouch1}
            alt='live-lecture-tools-image'
            loading='lazy'
            decoding='async'
            class='h-[100px] w-[100px] rounded-full tablet:h-12 tablet:w-12 laptop:h-[70px] laptop:w-[70px]'
          />
          <Image
            src={ImageGetInTouch2}
            alt='live-lecture-tools-image'
            loading='lazy'
            decoding='async'
            class='-ml-[30px] h-[100px] w-[100px] rounded-full tablet:-ml-[15px] tablet:h-12 tablet:w-12 laptop:h-[70px] laptop:w-[70px]'
          />
          <Image
            src={ImageGetInTouch3}
            alt='live-lecture-tools-image'
            loading='lazy'
            decoding='async'
            class='-ml-[30px] h-[100px] w-[100px] rounded-full tablet:-ml-[15px] tablet:h-12 tablet:w-12 laptop:h-[70px] laptop:w-[70px]'
          />
        </div>
        <h1
          class='text-center text-l leading-tight tablet:text-left tablet:text-xl tablet:font-extrabold laptop:text-2xl'
        >
          Get in touch with our program advisor to learn more!
        </h1>
      </div>
      <div class='hidden w-full tablet:visible tablet:flex tablet:w-1/2'>
        <ContactForm />
      </div>
    </div>
    <div class='tablet:hidden'>
      <ContactForm />
    </div>
  </div>
</div>
