---
import ContactForm from "./contactForm/ContactForm.astro";
import "./getInTouch.scss";
---

<div
  class="courses wrapper pt-12 md:pt-6 flex flex-col gap-6 md:gap-4 lg:gap-6 xl:gap-4"
>
  <div class="bg-white rounded-s flex flex-col">
    <div class="bg-secondary p-6 rounded-s flex">
      <div
        class="flex flex-col w-full md:w-1/2 md:justify-start md:items-start md:p-6"
      >
        <div class="flex flex-row justify-center content-center mb-6">
          <img
            src="qa-course/get-in-touch-1.svg"
            class="rounded-full w-[100px] h-[100px] md:w-12 md:h-12 lg:w-[70px] lg:h-[70px]"
          />
          <img
            src="qa-course/get-in-touch-2.svg"
            class="rounded-full w-[100px] h-[100px] md:w-12 md:h-12 lg:w-[70px] lg:h-[70px] overlap-left"
          />
          <img
            src="qa-course/get-in-touch-3.svg"
            class="rounded-full w-[100px] h-[100px] md:w-12 md:h-12 lg:w-[70px] lg:h-[70px] overlap-left"
          />
        </div>
        <h1
          class="text-l text-center md:text-left md:font-extrabold md:text-xl lg:text-2xl leading-tight"
        >
          Get in touch with our program advisor to learn more!
        </h1>
      </div>
      <div class="hidden md:visible md:flex w-full md:w-1/2">
        <ContactForm />
      </div>
    </div>
    <div class="md:hidden">
      <ContactForm />
    </div>
  </div>
</div>
