---
import CourseCard from './course_card/CourseCard.astro';
import './courses.scss';

type Props = {
  courses?: Course[];
};

const defaultCourses: Course[] = [
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Software Engineering Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Quality Assurance Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
];

const { courses = defaultCourses } = Astro.props;

type Course = {
  image: string;
  alt: string;
  courseTitle: string;
  skills: string;
  startingSalary: string;
  duration: number;
  price: string;
  type: string;
};
---

<div class='container courses flex flex-col lg:items-center'>
  <h2
    class='text-dark text-xl md:text-3xl lg:text-[48px] md:text-center font-bold tracking-[0.64px] mb-4'
  >
    Our Courses
  </h2>
  <div
    class='w-full text-dark-gray text-s md:text-base lg:text-l font-normal leading-[22px] lg:w-[840px] lg:text-center lg:leading-8 lg:tracking-[0.48px] tracking-[0.32px] mb-4 lg:mb-8'
  >
    Start a life-changing journey with our fully online courses. Keep your
    current job while gaining expertise in a new profession, all at your own
    pace.
  </div>
  <div class='grid md:grid-cols-2 gap-3 md:gap-6 lg:gap-8 w-full'>
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</div>
