---
import CourseCard from './course_card/CourseCard.astro';
import './courses.scss';

type Props = {
  courses?: Course[];
};

const defaultCourses: Course[] = [
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Software Engineering',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
  },
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Quality Assurance',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
  },
];

const { courses = defaultCourses } = Astro.props;

type Course = {
  image: string;
  alt: string;
  courseTitle: string;
  skills: string;
  startingSalary: string;
  duration: number;
  price: string;
};
---

<div class='courses pt-12 flex flex-col gap-6 md:gap-4 lg:gap-6 xl:gap-4'>
  <div class='container'>
    <h2 class='text-dark text-l font-bold leading-s pb-3 tracking-[0.48px]'>Our Courses</h2>
    <div class='description text-xxs font-normal leading-tight max-w-3xl tracking-[0.24px]'>
      Start a life-changing journey with our fully online courses. Keep your
      current job while gaining expertise in a new profession, all at your own
      pace.
    </div>
    {courses.map((course) => <CourseCard course={course} />)}
  </div>
</div>
