---
import type { TCourse } from 'src/types/Course';
import CourseCard from './course_card/CourseCard.astro';

interface Props {
  courses?: TCourse[];
}

const defaultCourses: TCourse[] = [
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Software Engineering Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    courseTitle: 'Quality Assurance Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
];

const { courses = defaultCourses } = Astro.props;
---

<section class='wrapper flex flex-col lg:items-center'>
  <header>
    <h1
      class='mb-4 text-xl font-bold text-dark md:text-center md:text-3xl lg:text-[48px]'
    >
      Our Courses
    </h1>
  </header>
  <p
    class='mb-4 w-full text-s font-normal leading-[22px] text-dark-gray md:text-base lg:mb-8 lg:w-[840px] lg:text-center lg:text-l lg:leading-8'
  >
    Start a life-changing journey with our fully online courses. Keep your
    current job while gaining expertise in a new profession, all at your own
    pace.
  </p>
  <ul class='grid w-full gap-3 md:grid-cols-2 md:gap-6 lg:gap-8'>
    {
      courses.map((course) => (
        <li>
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
