---
import type { BootcampCourse } from 'src/types/Course';
import CourseCard from './course_card/CourseCard.astro';

const courses: BootcampCourse[] = [
  {
    image: 'home-page/course-image.svg',
    courseLink: '/software-engineer-bootcamp',
    title: 'Software Engineering',
    courseTitle: 'Software Engineering Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    courseLink: '/qa-bootcamp',
    title: 'Quality Assurance',
    courseTitle: 'Quality Assurance Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    courseLink: '/data-science-bootcamp',
    title: 'Data Science',
    courseTitle: 'Data Science Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 4,
    price: '$12,700',
    type: 'Part time',
  },
];
---

<section
  class='container flex max-w-screen-desktop flex-col py-12 tablet:pb-15 tablet:pt-0 laptop:pb-16'
>
  <header class='pb-4'>
    <h1
      class='text-xl font-bold text-black tablet:text-center tablet:text-3xl laptop:text-4xl'
    >
      Your pathways into tech
    </h1>
  </header>
  <p
    class='pb-4 text-s tracking-wider text-gray-700 tablet:text-center laptop:px-12'
  >
    Start a life-changing journey with our fully online courses. Keep your
    current job while gaining expertise in a new profession, all at your own
    pace.
  </p>
  <ul
    class='grid w-full gap-y-4 tablet:grid-cols-2 tablet:gap-x-6 laptop:grid-cols-3 laptop:gap-x-4'
  >
    {
      courses.map((course) => (
        <li class='flex-1'>
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
