---
import type { TCourse } from 'src/types/Course';
import CourseCard from './course_card/CourseCard.astro';

interface Props {
  courses?: TCourse[];
}

const defaultCourses: TCourse[] = [
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    title: 'Software Engineering',
    courseTitle: 'Software Engineering Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    title: 'Quality Assurance',
    courseTitle: 'Quality Assurance Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 8,
    price: '$12,700',
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    alt: '#',
    title: 'Data Science',
    courseTitle: 'Data Science Bootcamp',
    skills:
      'Full-Stack: JavaScript, React.js, HTML, CSS, Babel, Webpack, NPM, GitHub, Git, Rest API, Google Cloud, MongoDB, Node.js',
    startingSalary: '$85,000',
    duration: 4,
    price: '$12,700',
    type: 'Part time',
  },
];

const { courses = defaultCourses } = Astro.props;
---

<section class='container flex flex-col py-12 laptop:items-center'>
  <header class='pb-4'>
    <h1 class='text-xl font-bold text-black'>Your pathways into tech</h1>
  </header>
  <p class='pb-4 text-s -tracking-tight text-gray-700'>
    Start a life-changing journey with our fully online courses. Keep your
    current job while gaining expertise in a new profession, all at your own
    pace.
  </p>
  <ul class='grid w-full gap-y-4 tablet:grid-cols-2'>
    {
      courses.map((course) => (
        <li>
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
