---
import type { BootcampCourse } from 'src/types/Course';
import Header from '../header/Header.astro';
import CourseCard from './course_card/CourseCard.astro';

export const courses: BootcampCourse[] = [
  {
    image: 'home-page/course-image.svg',
    courseLink: '/software-engineering-bootcamp',
    title: 'Software Engineering',
    courseTitle: 'Software Engineering Bootcamp',
    duration: 8,
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    courseLink: '/qa-bootcamp',
    title: 'Quality Assurance',
    courseTitle: 'Quality Assurance Bootcamp',
    duration: 8,
    type: 'Part time',
  },
  {
    image: 'home-page/course-image.svg',
    courseLink: '/data-science-bootcamp',
    title: 'Data Science',
    courseTitle: 'Data Science Bootcamp',
    duration: 4,
    type: 'Part time',
  },
];
---

<section class='container flex max-w-screen-desktop flex-col'>
  <Header
    title='Your pathways into tech'
    description={`
    Start a life-changing journey with our fully online courses. Keep your
    current job while gaining expertise in a new profession, all at your own
    pace.`}
  />
  <ul
    class='grid w-full gap-y-4 tablet:grid-cols-2 tablet:gap-x-6 laptop:grid-cols-3 laptop:gap-x-4'
  >
    {
      courses.map((course) => (
        <li class='flex-1'>
          <CourseCard course={course} />
        </li>
      ))
    }
  </ul>
</section>
