---
import LectureCard from './lectureCard/LectureCard.astro';

type TLecture = {
  title: string;
  description: string;
};

const defaultLectures: TLecture[] = [
  {
    title: 'Hands-On Learning',
    description:
      "Dive into real-world QA challenges with our hands-on approach. You won't just learn theory; you'll practice it in interactive labs and projects. Get ready to apply your skills from day one!",
  },
  {
    title: 'Job Placement Support',
    description:
      "We're not just about education; we're about your future. Benefit from our job placement support and industry connections. Our success stories speak for themselves – your dream job awaits!",
  },
];
---

<div
  class='container py-12 w-full h-full md:gap-y-0 md:gap-x-3 lg:gap-x-6 xl:gap-x-8 gap-x-0 gap-y-3 flex flex-col md:flex-row justify-center items-center'
>
  {
    defaultLectures.map((lecture, index) => (
      <LectureCard key={`qa-course-promo-${index}`} lecture={lecture} />
    ))
  }
</div>
