---
import LectureCard from './lectureCard/LectureCard.astro';

type TLecture = {
  title: string;
  description: string;
};

const defaultLectures: TLecture[] = [
  {
    title: 'Hands-On Learning',
    description:
      "Dive into real-world QA challenges with our hands-on approach. You won't just learn theory; you'll practice it in interactive labs and projects. Get ready to apply your skills from day one!",
  },
  {
    title: 'Job Placement Support',
    description:
      "We're not just about education; we're about your future. Benefit from our job placement support and industry connections. Our success stories speak for themselves – your dream job awaits!",
  },
];
---

<div class='container pt-8 pb-12'>
  <div class='relative mb-12'>
    <div
      class='left-3 top-4 absolute pl-2 pr-3 py-1 border border-dark-orange backdrop-blur-[2px] rounded-xs items-center flex'
    >
      <span class='relative flex h-2 w-2'>
        <span
          class='animate-ping absolute inline-flex h-full w-full rounded-full bg-vermilion/90 opacity-75'
        ></span>
        <span class='relative inline-flex rounded-full h-2 w-2 bg-vermilion'
        ></span>
      </span>
      <p class='text-dark text-[8px] font-normal leading-normal pl-1'>
        Live Lectures
      </p>
    </div>
    <img src='qa-course/live-lecture-image.png' alt={'live-lecture-image'} />
    <img
      src='qa-course/live-lecture-tools-image.png'
      alt={'live-lecture-tools-image'}
      class='absolute bottom-4 left-4'
    />
  </div>
  <div class='space-y-3'>
    {
      defaultLectures.map((lecture, index) => (
        <LectureCard key={`qa-course-promo-${index}`} lecture={lecture} />
      ))
    }
  </div>
</div>
