---
import { Button } from '../../../Button.tsx';
import GetPaidCard from './Cards/GetPaidCard.astro';
import NotSureYetCard from './Cards/NotSureYetCard.astro';
---

<div class='container'>
  <p class='text-dark-gray text-xxs font-normal leading-normal uppercase pb-3'>
    Bootcamp tuition
  </p>
  <h1 class='text-dark text-l font-bold leading-normal pb-4'>
    Tuition made simple and affordable
  </h1>
  <div class='flex flex-col md:flex-row md:space-x-6 md:mb-6'>
    <ul class='bg-white p-6 rounded-xs space-y-3 mb-4 md:mb-0 w-full md:w-1/2'>
      <li class='flex justify-between'>
        <h1 class='text-dark text-base font-bold leading-[26px]'>Upfront</h1>
        <h1 class='flex flex-col text-dark text-base font-bold leading-normal'>
          $8,700
          <span
            class='pt-2 text-dark bg-[#DDF7C7] rounded-xs px-[6px] py-1 text-[8px] font-normal leading-[10.4px] text-center'
            >Pay total • save $800</span
          >
        </h1>
      </li>
      <li class='h-[1px] bg-[#DADADA]'></li>
      <li class='flex justify-between'>
        <h1 class='text-dark text-base font-bold leading-[26px]'>
          Installments
        </h1>
        <h1 class='flex flex-col text-dark text-base font-bold leading-normal'>
          $1,180 / month
          <span
            class='pt-2 text-dark bg-[#DDF7C7] rounded-xs px-[6px] py-1 text-[8px] font-normal leading-[10.4px] text-center'
            >$9,440 in total</span
          >
        </h1>
      </li>
      <li class='h-[1px] bg-[#DADADA]'></li>
      <li>
        <Button className='w-full' title='Apply now' />
      </li>
    </ul>
    <div
      class='appearance-none hidden md:block md:visible w-full max-h-fit md:w-1/2'
    >
      <GetPaidCard />
    </div>
  </div>
  <div>
    <NotSureYetCard />
  </div>
  <div class='md:hidden'>
    <GetPaidCard />
  </div>
</div>
