---
import { Button } from '@components/Button';
import GetPaidOrRefundCard from './Cards/GetPaidOrRefundCard.astro';
---

<section id='qatuition' class='grid gap-y-4 laptop:gap-y-6'>
  <p class='text-xxs font-normal uppercase leading-4 text-gray-700'>
    Bootcamp tuition
  </p>
  <h1
    class='text-dark text-l font-bold leading-8 tablet:text-xl tablet:leading-2xl laptop:text-2xl'
  >
    Simple, affordable pricing
  </h1>
  <div class='flex flex-col gap-4 tablet:grid tablet:grid-cols-2 tablet:gap-6'>
    <ul
      class='order-1 flex w-full flex-col gap-y-4 rounded-l bg-white p-4 tablet:col-span-1 tablet:gap-y-6 tablet:rounded-[16px] tablet:p-6 laptop:gap-y-8 laptop:p-8'
    >
      <li class='flex h-[70px] items-center justify-between'>
        <h3 class='text-dark text-base font-bold laptop:text-l'>Upfront</h3>
        <h3
          class='text-dark flex flex-col gap-2 text-base font-bold laptop:text-l'
        >
          $8,700
          <span
            class='text-dark rounded-xs bg-green-100 px-[6px] py-1 text-center text-xxs font-normal'
            >Pay total • save $800</span
          >
        </h3>
      </li>
      <li class='h-[1px] bg-gray-900'></li>
      <li class='flex h-[70px] items-center justify-between'>
        <h3 class='text-dark text-base font-bold laptop:text-l'>
          Installments
        </h3>
        <h3
          class='text-dark flex flex-col gap-2 text-base font-bold laptop:text-l'
        >
          $1,180 / month
          <span
            class='text-dark rounded-xs bg-green-100 px-[6px] py-1 text-center text-xxs font-normal'
            >$9,440 in total</span
          >
        </h3>
      </li>
      <li class='h-[1px] bg-gray-900'></li>
      <li>
        <Button
          className='w-full px-6 py-3 laptop:rounded-l laptop:px-8 laptop:py-4'
          title='Enroll now'
        />
      </li>
    </ul>
    <div
      class='order-3 tablet:order-2 tablet:col-span-1 laptop:order-3 laptop:col-span-1 laptop:row-span-1'
    >
      <GetPaidOrRefundCard />
    </div>
  </div>
</section>
