<div
  class="flex flex-col justify-between h-full px-4 py-4 rounded-l md:p-6 lg:gap-y-6 bg-mountain-meadow lg:p-8"
>
  <div class="flex flex-col gap-y-3">
    <h3 class="text-base md:text-l font-bold text-dark">
      Get paid or get a refund
    </h3>
    <p class="text-dark text-s md:text-s font-normal leading-6">
      If you don’t get a job within a year of graduating Cyram, we will refund
      100% of your tuition.
    </p>
  </div>
  <p class="text-dark text-xs font-medium underline lg:text-s">
    Read more in Terms of Use
  </p>
</div>
