<div
  class='w-full h-full space-y-2 lg:space-y-4 px-4 py-6 rounded-s bg-mountain-meadow lg:p-8'
>
  <h1 class='text-base font-bold text-dark'>Get paid or get a refund</h1>
  <p class='text-dark text-s font-normal'>
    If you don’t get a job within a year of graduating Cyram, we will refund
    100% of your tuition.
  </p>
  <p class='text-dark text-s font-medium underline'>
    Read more in Terms of Use
  </p>
</div>
