<div
  class='flex flex-col w-full h-full gap-y-2 lg:gap-y-6 px-4 py-4 rounded-s bg-mountain-meadow lg:p-8'
>
  <h1 class='text-base font-bold text-dark'>Get paid or get a refund</h1>
  <p class='text-dark text-xs font-normal leading-6'>
    If you don’t get a job within a year of graduating Cyram, we will refund
    100% of your tuition.
  </p>
  <p class='text-dark text-xxs font-medium underline'>
    Read more in Terms of Use
  </p>
</div>
