<div
  class='w-full h-full space-y-2 lg:space-y-6 px-4 py-6 rounded-s bg-mountain-meadow lg:p-8'
>
  <h1 class='text-base font-bold text-dark leading-[31.2px]'>
    Get paid or get a refund
  </h1>
  <p class='text-dark text-xs font-normal leading-[18.2px]'>
    If you don’t get a job within a year of graduating Cyram, we will refund
    100% of your tuition.
  </p>
  <p class='text-dark text-xs font-medium underline'>
    Read more in Terms of Use
  </p>
</div>
