---
import { Button } from '@components/Button';
---

<div
  class='w-full h-full flex flex-col gap-y-2 lg:gap-y-[14px] py-6 px-4 lg:p-8 rounded-s bg-secondary'
>
  <h1 class='text-base lg:text-l font-bold text-dark leading-[31.2px]'>
    Not sure yet?
  </h1>
  <p class='text-dark text-s lg:text-xs font-normal leading-[18.2px]'>
    Try our online introductory course at no cost.
  </p>
  <Button title='Try for free' className='!px-[34px] !py-[11px] !text-xxs' />
</div>
