---
import { Button } from '../../../../Button.tsx';
---

<div class='w-full h-full space-y-2 px-4 py-6 rounded-s bg-secondary mb-2'>
  <h1 class='text-base font-bold leading-normal text-dark'>Not sure yet?</h1>
  <p class='text-dark text-s font-normal leading-normal'>
    Try our online introductory course at no cost.
  </p>
  <Button title='Try for free' />
</div>
