---
import { Button } from '@components/Button';
---

<div
  class='lg:gap-y-[14px] lg:p-8 flex h-full w-full flex-col gap-y-2 rounded-s bg-secondary px-4 py-6'
>
  <h1 class='lg:text-l text-dark text-base font-bold leading-[31.2px]'>
    Not sure yet?
  </h1>
  <p class='text-dark lg:text-xs text-s font-normal leading-[18.2px]'>
    Try our online introductory course at no cost.
  </p>
  <Button title='Try for free' className='!px-[34px] !py-[11px] !text-xxs' />
</div>
