---
import { Button } from '@components/Button';
---

<div
  class='flex h-full w-full flex-col gap-y-2 rounded-s bg-secondary px-4 py-6 laptop:gap-y-[14px] laptop:p-8'
>
  <h1 class='text-base font-bold leading-[31.2px] text-primary laptop:text-l'>
    Not sure yet?
  </h1>
  <p class='text-s font-normal leading-[18.2px] text-primary laptop:text-xs'>
    Try our online introductory course at no cost.
  </p>
  <Button title='Try for free' className='!px-[34px] !py-[11px] !text-xxs' />
</div>
