---
import { Image } from 'astro:assets';
import ImageStarMobile from '/public/qa-course/star-mobile.svg';

interface TAnswers {
  title: string;
  description: string;
}

const defaultAnswers: TAnswers[] = [
  {
    title: `Live QA Workshops`,
    description: `Start as a QA enthusiast and, as you dive into the tech universe, you'll discover endless possibilities. Whether you want to explore further in automation or explore other tech roles, the path is yours to chart.`,
  },
  {
    title: `Real-World Case Studies`,
    description: `Apply your skills by tackling real-world QA scenarios, preparing you for actual industry challenges.`,
  },
  {
    title: `Personalized Feedback`,
    description: `Receive valuable feedback from your instructors to refine your QA skills.`,
  },
  {
    title: `Engaging QA Community:`,
    description: `Join a vibrant QA community for support, collaboration, and networking opportunities.`,
  },
  {
    title: `Certification`,
    description: `Earn a prestigious Cyram certification upon successful completion of your QA Bootcamp.`,
  },
];
---

<section id='whycyram' class='grid gap-y-4 laptop:gap-y-6'>
  <p
    class='text-dark-gray text-xxs font-normal uppercase leading-4 laptop:text-s laptop:leading-6'
  >
    WHY CYRAM
  </p>
  <h1
    class='text-dark tablet:text-xl text-l font-bold leading-8 tablet:leading-2xl laptop:text-2xl laptop:leading-3xl'
  >
    A live and immersive learning experience
  </h1>
  <p
    class='text-dark-gray text-s font-normal leading-6 laptop:text-base laptop:leading-7'
  >
    Our live classes are an opportunity to learn-by-doing with other students.
    We take an active learning approach to ensure you retain and practice key
    skills.
  </p>
  <ul class='grid gap-y-6'>
    {
      defaultAnswers.map((answer) => (
        <li class='grid gap-y-2'>
          <h2 class='text-dark flex items-center text-s font-bold leading-6 laptop:text-base'>
            <span class='pr-2'>
              <Image
                src={ImageStarMobile}
                alt='star-mobile'
                loading='lazy'
                decoding='async'
              />
            </span>
            {answer.title}
          </h2>
          <p class='text-dark-gray text-s font-normal leading-6 laptop:text-base laptop:leading-7'>
            {answer.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
