---
import { Image } from 'astro:assets';
import ImageStarMobile from '/public/qa-course/star-mobile.svg';

interface TAnswers {
  title: string;
  description: string;
}

const defaultAnswers: TAnswers[] = [
  {
    title: `Live QA Workshops`,
    description: `Start as a QA enthusiast and, as you dive into the tech universe, you'll discover endless possibilities. Whether you want to explore further in automation or explore other tech roles, the path is yours to chart.`,
  },
  {
    title: `Real-World Case Studies`,
    description: `Apply your skills by tackling real-world QA scenarios, preparing you for actual industry challenges.`,
  },
  {
    title: `Personalized Feedback`,
    description: `Receive valuable feedback from your instructors to refine your QA skills.`,
  },
  {
    title: `Engaging QA Community:`,
    description: `Join a vibrant QA community for support, collaboration, and networking opportunities.`,
  },
  {
    title: `Certification`,
    description: `Earn a prestigious Cyram certification upon successful completion of your QA Bootcamp.`,
  },
];
---

<section id='why-cyram' class='wrapper grid gap-y-4 lg:gap-y-6'>
  <p
    class='text-xxs font-normal uppercase leading-4 text-dark-gray lg:text-s lg:leading-6'
  >
    WHY CYRAM
  </p>
  <h1
    class='text-l font-bold leading-8 text-dark md:text-xl md:leading-2xl lg:text-2xl lg:leading-3xl'
  >
    A live and immersive learning experience
  </h1>
  <p
    class='text-s font-normal leading-6 text-dark-gray lg:text-base lg:leading-7'
  >
    Our live classes are an opportunity to learn-by-doing with other students.
    We take an active learning approach to ensure you retain and practice key
    skills.
  </p>
  <ul class='grid gap-y-6'>
    {
      defaultAnswers.map((answer) => (
        <li class='grid gap-y-2'>
          <h2 class='flex items-center text-s font-bold leading-6 text-dark lg:text-base'>
            <span class='pr-2'>
              <Image
                src={ImageStarMobile}
                alt='star-mobile'
                loading='lazy'
                decoding='async'
              />
            </span>
            {answer.title}
          </h2>
          <p class='text-s font-normal leading-6 text-dark-gray lg:text-base lg:leading-7'>
            {answer.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
