---
import ImageStarMobile from '@assets/qa/star-mobile.svg';
import { Image } from 'astro:assets';

interface TAnswers {
  title: string;
  description: string;
}

const defaultAnswers: TAnswers[] = [
  {
    title: `Live Classes`,
    description: `Our live classes are an opportunity to learn-by-doing with your class.`,
  },
  {
    title: `Real-World projects`,
    description: `Apply your skills by tackling real-world QA test automation scenarios, preparing you for actual industry challenges.`,
  },
  {
    title: `Interview Practice`,
    description: `We provide you with plenty of job application and interview practice to ensure you are job-ready.`,
  },
  {
    title: `Certification`,
    description: `Earn a prestigious Cyram certification upon successful completion of your QA Bootcamp.`,
  },
  {
    title: `Mentorship`,
    description: `Receive valuable feedback from your instructors to refine your QA automation skills.`,
  },
  {
    title: `Education community`,
    description: `Joining our bootcamp will give you access to our supportive education community.`,
  },
];
---

<section id='whycyram' class='container max-w-screen-desktop'>
  <header class='mb-3 grid gap-y-3'>
    <p class='text-xxs text-gray-700'>WHY CYRAM</p>
    <h1 class='text-l font-bold tracking-widest text-black'>
      A live and immersive learning experience
    </h1>
  </header>
  <p class='mb-4 text-s text-gray-700'>
    Our live classes are an opportunity to learn-by-doing with other students.
    We take an active learning approach to ensure you retain and practice key
    skills.
  </p>
  <ul class='grid gap-y-6'>
    {
      defaultAnswers.map((answer) => (
        <li class=''>
          <Image
            src={ImageStarMobile}
            alt='star-mobile'
            loading='lazy'
            decoding='async'
            class='mb-2'
          />
          <h2 class='mb-1 text-s font-semibold tracking-wider text-primary'>
            {answer.title}
          </h2>
          <p class='text-s tracking-wider text-gray-700'>
            {answer.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
