---
import Accordion from '../../../Accordion.tsx';
import Content from './content/Content.tsx';
import Sidebar from './sidebar/Sidebar.tsx';

export type TCurriculum = {
  title: string;
  subtitle: string;
  description: string;
  topics: string[];
};

const sampleDescription = `This module explores different page layout techniques using flexbox, positioning elements, and grid layout. It also introduces BEM, Git, and debugging. This module explores different page layout techniques using flexbox, positioning elements, and grid layout. It also introduces BEM, Git.`;
const sampleTopics = ['HTML', 'CSS', 'Javascript'];

const defaultCurriculum: TCurriculum[] = [
  {
    title: 'Testing Fundamentals',
    subtitle: 'Module 1',
    description: sampleDescription,
    topics: sampleTopics,
  },
  {
    title: 'Core Java Programming',
    subtitle: 'Module 2',
    description: sampleDescription,
    topics: sampleTopics,
  },
  {
    title: 'Test Automation',
    subtitle: 'Module 3',
    description: sampleDescription,
    topics: sampleTopics,
  },
  {
    title: 'API Automation',
    subtitle: 'Module 4',
    description: sampleDescription,
    topics: sampleTopics,
  },
  {
    title: 'Portfolio Projects',
    subtitle: 'Module 5',
    description: sampleDescription,
    topics: sampleTopics,
  },
  {
    title: 'Prepare for interviews',
    subtitle: 'Module 6',
    description: sampleDescription,
    topics: sampleTopics,
  },
];
---

<div id='qa-curriculum' class='container grid gap-y-4 lg:gap-y-6'>
  <p class='text-dark-gray text-xs leading-5 font-normal uppercase'>
    CURRICULUM
  </p>
  <h2
    class='text-dark text-l leading-8 md:text-xl md:leading-2xl font-bold lg:text-2xl'
  >
    Mastery-based learning with real world projects
  </h2>
  <p class='text-s font-normal leading-6 text-dark-gray lg:text-base'>
    Our QA bootcamp follows a mastery-based learning approach that focuses on
    hands-on experience. Unlike traditional QA courses that rely heavily on
    theory, our bootcamp immerses you in the latest tools, industry workflows,
    and best practices, making you proficient in the skills demanded by today's
    QA professionals.
  </p>
  <div class='grid gap-y-2 lg:hidden'>
    {
      defaultCurriculum.map((curriculum, index) => (
        <Accordion
          id={`accordion-${index}`}
          title={curriculum.title}
          subtitle={curriculum.subtitle}
        >
          <Content {...curriculum} />
        </Accordion>
      ))
    }
  </div>

  <div class='hidden lg:block'>
    <Sidebar client:load curriculum={defaultCurriculum} />
  </div>
</div>
