input {
    border-radius: 8px;
    border: 1px solid #EBEBEB;
}

.dropdown {
    button {
        border-radius: 10px;
        border: 1px solid #EBEBEB;
        padding: 16px 18px;
    }
}

.secondary-bg {
    background: rgba(29, 30, 34, 0.90);
}