input {
  border-radius: 8px;
  border: 1px solid #ebebeb;
}

.dropdown {
  button {
    @apply rounded-l border border-[#EBEBEB] py-4 px-5 md:py-2 md:px-3 md:text-xxs;
  }
}

.secondary-bg {
  background: rgba(29, 30, 34, 0.9);
}
