---
import { Image } from 'astro:assets';
import classNames from 'classnames';
import ImagePlayButton from '/public/qa-course/play-button.svg';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={classNames('relative', className)}>
  <div
    class='lg:cursor-pointer absolute inset-0 m-auto h-fit w-fit bg-primary px-5 py-2'
  >
    <Image
      src={ImagePlayButton}
      alt='play-button'
      loading='lazy'
      decoding='async'
      class='w-full'
    />
  </div>
  <slot />
</div>
