---
import { Button } from '../../Button';
import './promo.scss';
---

<div class='bg-secondary'>
  <div
    class='container mx-auto px-4 flex flex-col gap-6 pt-4 md:px-8 md:gap-4 md:pt-6 lg:gap-6 xl:px-13 xl:pt-10 xl:gap-4'
  >
    <h1
      class='text-dark text-xl text-center self-stretch font-bold leading-normal px-6 md:text-4xl md:font-extrabold md:px-14 md:leading-l lg:px-16 xl:text-5xl xl:leading-xl'
    >
      Change your life, learn coding
    </h1>
    <Button
      className='mx-auto font-semibold hidden xl:hidden'
      title='Choose your career'
    />
    <div
      class='text-dark text-xxs text-center self-stretch font-medium leading-normal mb-48 md:text-base md:leading-base'
    >
      Accelerate Your Tech Career with Mastery-Based Learning
    </div>
    <Button
      className='mx-auto font-semibold hidden md:block xl:block'
      title='Choose your career'
    />
    <video
      src='#'
      class='video flex flex-col justify-center items-center self-stretch rounded-xxs md:mb-13 md:rounded lg:mx-13 lg:rounded-xl xl:mt-12'
    ></video>
    <Button
      className='mx-auto font-semibold mb-12 md:hidden md:mb-0'
      title='Choose your career'
    />
  </div>
</div>
