---
import { Button } from '@components/Button';
import { Image } from 'astro:assets';
import ImagePlayCircle from '/public/home-page/play-circle.svg';
---

<section
  class='wrapper flex flex-col gap-y-6 pb-12 md:gap-y-8 md:pt-6 lg:items-center lg:gap-y-8 lg:py-13'
>
  <header class='lg:w-[638px] lg:items-center'>
    <h1
      class='self-stretch text-2xl font-extrabold leading-tight text-dark md:text-[64px] md:font-extrabold md:leading-snug lg:text-center'
    >
      Change your life, learn coding
    </h1>
  </header>
  <p
    class='mb-0 self-stretch text-s font-medium leading-6 text-dark md:text-base md:leading-base lg:mx-auto lg:w-[638px] lg:items-center lg:text-center'
  >
    Accelerate Your Tech Career with Mastery-Based Learning
  </p>
  <Button
    className='hidden w-fit font-semibold md:block'
    title='Choose your career'
  />
  <div class='relative'>
    <Image
      src={ImagePlayCircle}
      alt='play-circle'
      loading='lazy'
      decoding='async'
      class='absolute bottom-0 left-0 right-0 top-0 m-auto h-12 w-12 cursor-pointer md:h-13 md:w-13 lg:h-[75px] lg:w-[75px]'
    />
    <video
      src='/'
      class='flex min-h-[192px] w-full flex-col items-center justify-center self-stretch rounded-[16px] bg-[#6d6a6a] md:min-h-[388px] md:rounded-[16px] lg:mx-13 lg:w-[832px]'
      muted></video>
  </div>
  <Button
    className='mx-auto text-s font-semibold md:hidden'
    title='Choose your career'
  />
</section>
