---
import { Button } from '@components/Button';
import './promo.scss';
---

<div
  class='container flex flex-col gap-6 md:gap-8 pb-12 md:pt-6 lg:gap-8 lg:py-13 xl:gap-11 lg:items-center'
>
  <div class='w-full flex flex-col lg:w-[638px] lg:items-center'>
    <h1
      class='text-dark text-2xl self-stretch font-extrabold mb-6 leading-tight md:leading-snug md:font-extrabold lg:mb-4 md:text-[64px] lg:text-center xl:text-[80px]'
    >
      Change your life, learn coding
    </h1>
    <div
      class='text-dark text-s mb-0 md:mb-8 xl:mb-11 md:text-base leading-[22px] lg:text-center xl:text-l self-stretch font-medium md:leading-base'
    >
      Accelerate Your Tech Career with Mastery-Based Learning
    </div>
    <div class='w-fit hidden md:block xl:block'>
      <Button
        className='font-semibold xl:text-base'
        title='Choose your career'
      />
    </div>
  </div>
  <div class='relative'>
    <img
      src='home-page/play-circle.svg'
      class='w-12 h-12 md:w-13 md:h-13 lg:w-[75px] lg:h-[75px] xl:w-[80px] xl:h-[80px] absolute top-0 bottom-0 right-0 left-0 m-auto cursor-pointer'
    />
    <video
      src='#'
      class='video flex flex-col h-[192px] md:h-[388px] md:rounded-[16px] lg:w-[832px] xl:w-[956px] xl:h-[525px] w-full justify-center items-center self-stretch rounded-[16px] lg:mx-13 lg:rounded-xl xl:mt-12'
    ></video>
  </div>
  <div class='w-full justify-center flex md:hidden'>
    <Button className='text-s font-semibold' title='Choose your career' />
  </div>
</div>
