---
import { Button } from '@components/Button';
import { Image } from 'astro:assets';

import HeroImage from '/public/home-page/hero-image.svg';
import PlayIconDark from '/public/play-icon-dark.svg';
import PlayIconLight from '/public/play-icon-light.svg';
---

<section class='container max-w-screen-desktop pt-13'>
  <header class='mb-3 tablet:mb-4'>
    <h1
      class='self-stretch text-2xl font-extrabold leading-tight text-black tablet:text-center tablet:text-6xl'
    >
      Change your life.
      <span class='text-orange-800 tablet:block'> Learn coding.</span>
    </h1>
  </header>
  <p
    class='self-stretch text-s font-medium text-primary tablet:text-center tablet:text-base'
  >
    Accelerate Your Tech Career with Mastery-Based Learning
  </p>
  <Button
    className='mx-auto my-6 tablet:px-6 tablet:py-3 tablet:text-s'
    title='Live Bootcamps'
  />
  <div class='relative h-fit'>
    <Image alt='hero-image' src={HeroImage} class='h-full w-full rounded-2xl' />
    <div
      class='absolute inset-0 z-10 m-auto h-full w-full rounded-2xl border bg-black/60'
    >
    </div>
    <Image
      alt='play-icon-light'
      src={PlayIconLight}
      class='absolute inset-0 z-20 m-auto laptop:hidden'
    />
    <Image
      alt='play-icon-dark'
      src={PlayIconDark}
      class='absolute inset-0 z-20 m-auto hidden laptop:block'
    />
  </div>
</section>
