---
import { Button } from '@components/Button';
import { Image } from 'astro:assets';
import ImagePlayCircle from '/public/home-page/play-circle.svg';
---

<!-- <section
  class=' flex flex-col gap-y-6 pb-12 tablet:gap-y-8 tablet:pt-6 laptop:items-center laptop:gap-y-8 laptop:py-13'
> -->
<section
  class='flex flex-col gap-y-6 pb-12 tablet:gap-y-8 tablet:pt-6 laptop:items-center laptop:gap-y-8 laptop:py-13'
>
  <header class='laptop:items-center'>
    <h1
      class='self-stretch text-2xl font-extrabold leading-tight text-black tablet:text-[64px] tablet:font-extrabold tablet:leading-snug laptop:text-center'
    >
      Change your life,
      <span class='text-accent'>learn coding</span>
    </h1>
  </header>
  <p
    class='text-dark mb-0 self-stretch text-s font-medium leading-6 tablet:text-base tablet:leading-base laptop:mx-auto laptop:w-[638px] laptop:items-center laptop:text-center'
  >
    Accelerate Your Tech Career with Mastery-Based Learning
  </p>
  <Button
    className='hidden w-fit font-semibold tablet:block'
    title='Choose your career'
  />
  <div class='relative'>
    <Image
      src={ImagePlayCircle}
      alt='play-circle'
      loading='lazy'
      decoding='async'
      class='absolute bottom-0 left-0 right-0 top-0 m-auto h-12 w-12 cursor-pointer tablet:h-13 tablet:w-13 laptop:h-[75px] laptop:w-[75px]'
    />
    <video
      src='/'
      class='bg-gray-800 flex min-h-[192px] w-full flex-col items-center justify-center self-stretch rounded-[16px] tablet:min-h-[388px] tablet:rounded-[16px] laptop:mx-13 laptop:w-[832px]'
      muted></video>
  </div>
  <Button
    className='mx-auto text-s font-semibold tablet:hidden'
    title='Choose your career'
  />
</section>
