---
import { Button } from '@components/Button';
---

<section class='container max-w-screen-desktop'>
  <h1
    class='tracking-xl mb-3 text-center text-2xl font-extrabold tablet:text-4xl laptop:text-6xl'
  >
    Get started for free
  </h1>
  <div class='mx-auto tablet:w-fit'>
    <p class='tracking-s mb-5 text-center text-s text-gray-700'>
      Check out some of our courses first. Join the bootcamp later.
    </p>
    <div class='flex justify-center gap-x-3 tablet:gap-x-6'>
      <Button
        className='w-1/2 !text-s font-semibold tablet:w-full '
        title='Try for free'
      />
      <Button
        className='tracking-s w-1/2 border-2 border-primary !bg-transparent !px-4 !py-3 !text-s font-semibold !text-primary tablet:w-full'
        title='Join intro session'
      />
    </div>
  </div>
</section>
