---
import Header from '../../../Header.astro';
interface Definition {
  title: string;
  description: string;
}
interface Props {
  headerTitle: string;
  title: string;
  definitions: Definition[];
}

const { definitions, headerTitle, title } = Astro.props;
---

<section class='container max-w-screen-desktop'>
  <Header headerTitle={headerTitle} title={title} />
  <ul class='grid gap-y-3'>
    {
      definitions.map((definition) => (
        <li>
          <p class='text-s tracking-s text-gray-700 laptop:text-base'>
            {definition.title && (
              <span class='font-extrabold tracking-s text-orange-700'>
                {definition.title}
              </span>
            )}
            {definition.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
