---
interface TDefinition {
  title: string;
  description: string;
}

const defaultDefinitions: TDefinition[] = [
  {
    title: 'Bug busters',
    description:
      "QA Engineers test software to find those pesky bugs and glitches. It's a bit like a treasure hunt, but instead of gold, you discover issues in software.",
  },
  {
    title: 'Fast-track to tech:',
    description:
      "Start your career as a QA engineer and, as you dive into the tech universe, you'll discover endless possibilities. Whether you want to explore further in automation or explore other tech roles like a software developer or a devops engineer, the path is yours to chart.",
  },
];
---

<section class='container max-w-screen-desktop'>
  <header class='mb-3 grid gap-y-3'>
    <p class='text-xxs text-gray-700'>HERE'S THE DEAL</p>
    <h1 class='text-l font-bold tracking-widest text-black'>
      What is Quality Assurance?
    </h1>
  </header>
  <ul class='grid gap-y-3'>
    {
      defaultDefinitions.map((definition) => (
        <li>
          <p class='text-s tracking-wider text-gray-700'>
            <span class='font-extrabold tracking-wider text-orange-700'>
              {definition.title}:{' '}
            </span>
            {definition.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
