---
interface TDefinition {
  title: string;
  description: string;
}

const defaultDefinitions: TDefinition[] = [
  {
    title: 'Bug busters',
    description:
      "QA Engineers test software to find those pesky bugs and glitches. It's a bit like a treasure hunt, but instead of gold, you discover issues in software.",
  },
  {
    title: 'Tech team players',
    description:
      "They team up with software experts to supercharge software quality. It's a bit like being the strategist behind the team, making sure they achieve victory!",
  },
  {
    title: 'Embrace automation',
    description:
      "In our QA course, we introduce you to the world of programming with a focus on test automation! You won't need to be a full-blown developer, but you'll grasp the essential skills to automate testing processes. It's like learning a new superpower in the tech world!",
  },
  {
    title: 'Fast-track to tech',
    description:
      "Start as a QA enthusiast and, as you dive into the tech universe, you'll discover endless possibilities. Whether you want to explore further in automation or explore other tech roles, the path is yours to chart.",
  },
  {
    title: 'Rewards await',
    description:
      'Junior QA roles pay well, averaging around $88,000 per year. And as you level up in the tech world, your income potential soars higher',
  },
];
---

<section class='wrapper flex flex-col gap-y-4 lg:gap-y-6'>
  <header class='grid gap-y-4 lg:gap-y-6'>
    <p
      class='text-xs font-normal uppercase leading-5 text-dark-gray lg:text-s lg:leading-6'
    >
      HERE'S THE DEAL
    </p>
    <h1
      class='text-l font-bold leading-8 text-dark md:text-xl md:leading-2xl lg:text-2xl lg:leading-3xl'
    >
      What is Quality Assurance?
    </h1>
  </header>
  <ul class='grid grid-cols-1 gap-y-3 lg:grid-cols-2 lg:gap-x-6 lg:gap-y-6'>
    {
      defaultDefinitions.map((definition) => (
        <li>
          <p class='text-s font-normal leading-6 text-dark-gray lg:text-l lg:leading-8'>
            <span class='font-extrabold text-secondary lg:leading-8'>
              {definition.title}:{' '}
            </span>
            {definition.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
