---
import Questions from '@components/sections/common/questions/Questions.astro';
import type { FaqPage } from 'src/types/Faq';
import Header from '../../../Header.astro';

interface Props extends FaqPage {}

const { page } = Astro.props;
---

<section class='container max-w-screen-desktop'>
  <Header headerTitle='FAQ' title='Got a question about our bootcamp?' />
  <Questions page={page} />
</section>
