---
import Questions from '@components/sections/common/questions/Questions.astro';
import type { TFaq } from 'src/types/Faq';
import Header from '../../../Header.astro';

interface Props extends TFaq {}

const { questions, unsure } = Astro.props;
---

<section class='container max-w-screen-desktop'>
  <Header
    headerTitle={!unsure ? '' : 'FAQ'}
    title='Got a question about our bootcamp?'
    isCentered={!unsure}
  />
  <Questions questions={questions} unsure={unsure} />
</section>
