---
import { Image } from 'astro:assets';
import CourseAccessImage from '/public/home-page/course-access-image.svg';
---

<section class='bg-black'>
  <div
    class='container grid max-w-screen-desktop gap-10 py-13 tablet:py-15 laptop:py-16'
  >
    <h1 class='tablet:text-7xl text-center text-2xl font-extrabold text-white'>
      Learn Anytime, Anywhere
    </h1>
    <Image
      alt='course-access-image'
      src={CourseAccessImage}
      class='h-full w-full'
    />
    <div
      class='grid gap-6 text-base font-medium text-white tablet:px-12 tablet:text-l laptop:px-17'
    >
      <p>
        Access all the course videos, code and collaborate from any editor or
        device: <span class='text-neon'>browser, VS Code or iOS.</span>
      </p>
      <p>
        Share a link to your code to get feedback, either async or with a <span
          class='text-neon'>live coding</span
        > session.
      </p>
    </div>
  </div>
</section>
