---
import { Image } from 'astro:assets';
import ImageOverview from '/public/qa-course/overview-image.svg';
---

<section id='qaoverview' class='grid gap-y-4 laptop:gap-y-6'>
  <p
    class='text-xxs font-normal uppercase leading-4 text-gray-700 laptop:text-s laptop:leading-6'
  >
    OVERVIEW
  </p>
  <h1
    class='text-dark text-l font-bold leading-8 tablet:text-xl tablet:leading-2xl laptop:text-2xl laptop:leading-3xl'
  >
    Learn by doing in 5 months
  </h1>
  <p
    class='text-s font-normal leading-6 text-gray-700 laptop:text-base laptop:leading-7'
  >
    Our mastery-based QA program is an immersive learning experience. Manual
    testing, the art of test automation using Java and Selenium, API testing,
    and so much more — we’ve packed everything in this program to prepare you
    for a successful career as a QA engineer.
  </p>

  <figure>
    <Image
      src={ImageOverview}
      alt='overview-image'
      loading='lazy'
      decoding='async'
      class='w-full'
    />
  </figure>
</section>
