<div id='qa-overview' class='container grid gap-y-4 lg:gap-y-6'>
  <p class='text-dark-gray text-xs leading-5 font-normal uppercase'>OVERVIEW</p>
  <h2 class='text-dark text-l leading-8 font-bold md:text-xl lg:text-2xl'>
    Learn by doing in 5 months
  </h2>
  <p class='text-s font-normal leading-6 text-dark-gray'>
    Our mastery-based QA program is an immersive learning experience. Manual
    testing, the art of test automation using Java and Selenium, API testing,
    and so much more — we’ve packed everything in this program to prepare you
    for a successful career as a QA engineer.
  </p>
  <img
    src='qa-course/overview-image.svg'
    alt='overview-placeholder-image'
    class='w-full'
  />
</div>
