---
import { Image } from 'astro:assets';
import ImageOverview from '/public/qa-course/overview-image.svg';
---

<section id='qaoverview' class='lg:gap-y-6 grid gap-y-4'>
  <p
    class='text-dark-gray lg:text-s lg:leading-6 text-xxs font-normal uppercase leading-4'
  >
    OVERVIEW
  </p>
  <h1
    class='text-dark md:text-xl md:leading-2xl lg:text-2xl lg:leading-3xl text-l font-bold leading-8'
  >
    Learn by doing in 5 months
  </h1>
  <p
    class='text-dark-gray lg:text-base lg:leading-7 text-s font-normal leading-6'
  >
    Our mastery-based QA program is an immersive learning experience. Manual
    testing, the art of test automation using Java and Selenium, API testing,
    and so much more — we’ve packed everything in this program to prepare you
    for a successful career as a QA engineer.
  </p>

  <figure>
    <Image
      src={ImageOverview}
      alt='overview-image'
      loading='lazy'
      decoding='async'
      class='w-full'
    />
  </figure>
</section>
