<div class='container space-y-3 !pb-[77px]'>
  <p class='text-dark-gray text-xxs font-normal leading-normal uppercase'>
    OVERVIEW
  </p>
  <h1 class='text-dark text-l font-bold leading-normal'>
    Learn by doing in 5 months
  </h1>
  <p class='text-s font-normal leading-5 text-dark-gray'>
    {
      `
    Our mastery-based QA program is an immersive learning experience. Manual
    testing, the art of test automation using Java and Selenium, API testing,
    and so much more — we’ve packed everything in this program to prepare you
    for a successful career as a QA engineer.`
    }
  </p>

  <img src='https://placehold.co/343x192' />
</div>
