---
const { lecture } = Astro.props;
---

<div class='p-4 space-y-2 bg-cultured rounded-s'>
  <h6
    class='border border-r-0 border-y-0 !border-l-dark-orange border-l-2 text-dark text-[20px] font-bold ml-2 pl-2'
  >
    {lecture.title}
  </h6>
  <p class='text-dark-gray text-s font-normal ml-2'>
    {lecture.description}
  </p>
</div>
