---
interface Props {
  title?: string;
  description?: string;
}

const { description, title } = Astro.props;
---

<header>
  <h1
    class='pb-4 text-xl font-bold text-black tablet:text-center tablet:text-3xl laptop:text-4xl'
  >
    {title}
  </h1>
</header>
{
  description && (
    <p class='pb-6 text-s font-normal tracking-wider text-gray-700 tablet:text-center'>
      {description}
    </p>
  )
}
