.orange-bg {
    background: var(--Secondary, #FF8551) !important;
}

.overlap-left {
    margin-left: -30px;
}

.black-bg {
    background: #1D1E22;
}

.grey-bg {
    background: #EBEBEB;
}

.form-step {
    width: 32px;
    height: 32px;
    border-radius: 22.031px;
    background: #EBEBEB;
}