.overlap-left {
  @apply -ml-[30px] md:-ml-[15px];
}

.black-bg {
  background: #1d1e22;
}

.grey-bg {
  background: #ebebeb;
}

.form-step {
  width: 32px;
  height: 32px;
  border-radius: 22.031px;
  background: #ebebeb;
}
