---
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';
import HeaderDropdown from '../components/homePage/HeaderDropdown.astro';
import Questions from '../components/sections/common/questions/Questions.astro';
import Courses from '../components/sections/homepage/courses/Courses.astro';
import OurGrads from '../components/sections/homepage/ourGrads/OurGrads.astro';
import Promo from '../components/sections/homepage/promo/Promo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home page'>
  <Header
    client:load
    className='bg-secondary'
    isSticky={false}
    menuItems={[
      {
        label: 'Programs',
        id: 'home-programs',
      },
      {
        label: 'Why Cyram',
        id: 'home-why-cyram',
      },
      {
        label: 'Resources',
        id: 'home-resources',
      },
      {
        label: 'Blog',
        id: 'home-blog',
      },
    ]}
  >
    <div slot='home-programs' class='h-full w-full flex flex-col gap-y-6'>
      <HeaderDropdown />
    </div>
  </Header>
  <div class='bg-secondary pt-6 lg:pt-13 xl:pt-[88px]'>
    <Promo />
  </div>
  <div
    class='grid py-13 md:py-[80px] lg:pt-[144px] lg:pb-[128px] gap-13 md:gap-[80px] lg:gap-[128px]'
  >
    <Courses />
    <!-- <SucessStories /> -->
    <OurGrads />
    <Questions />
    <!-- <GetInTouch /> -->
  </div>
  <Footer />
</Layout>
