---
import Footer from '@components/Footer.astro';
import { Header } from '@components/Header';
import HeaderDropdown from '@components/homePage/HeaderDropdown.astro';
import Questions from '@components/sections/common/questions/Questions.astro';
import Courses from '@components/sections/homepage/courses/Courses.astro';
import OurGrads from '@components/sections/homepage/ourGrads/OurGrads.astro';
import Promo from '@components/sections/homepage/promo/Promo.astro';
import Layout from '@layouts/Layout.astro';
import '../index.scss';
---

<Layout title='Home page'>
  <Header
    client:load
    menuItems={[
      {
        label: 'Bootcamps',
        id: 'homebootcamps',
        isDropdown: true,
      },
      {
        label: 'Why Cyram',
        id: 'homewhycyram',
        isDropdown: true,
      },
      {
        label: 'Resources',
        id: 'homeresources',
        isDropdown: true,
      },
      {
        label: 'Blog',
        id: 'homeblog',
      },
    ]}
  >
    <div slot='homebootcamps' class='flex h-full w-full flex-col gap-y-6'>
      <HeaderDropdown />
    </div>
  </Header>

  <main>
    <div class='pt-6 lg:pt-13'>
      <Promo />
    </div>
    <div
      class='grid gap-y-13 pb-10 pt-13 md:gap-y-[80px] md:py-[80px] lg:gap-y-[128px] lg:pb-[128px] lg:pt-[144px]'
    >
      <Courses />
      <!-- <SucessStories /> -->
      <OurGrads />
      <Questions />
      <!-- <GetInTouch /> -->
      <Footer />
    </div>
  </main>
</Layout>
