---
import Footer from '@components/Footer.astro';
import { Header } from '@components/Header';
import CourseAccess from '@components/sections/homepage/courseAccess/CourseAccess.astro';
import Courses from '@components/sections/homepage/courses/Courses.astro';
import GotAQuestion from '@components/GotAQuestion.astro';
import HeaderDropdown from '@components/sections/homepage/headerDropdown/HeaderDropdown.astro';
import OurGrads from '@components/sections/homepage/ourGrads/OurGrads.astro';
import Promo from '@components/sections/homepage/promo/Promo.astro';
import Students from '@components/sections/homepage/students/Students.astro';
import Layout from '@layouts/Layout.astro';
import '../index.scss';

const menuItems = [
  {
    label: 'Bootcamps',
    id: 'homebootcamps',
    isDropdown: true,
  },
  {
    label: 'Why Cyram',
    id: 'homewhycyram',
    isDropdown: true,
  },
  {
    label: 'Resources',
    id: 'homeresources',
    isDropdown: true,
  },
  {
    label: 'Blog',
    id: 'homeblog',
  },
];
---

<Layout title='Cyram Online Coding Bootcamp'>
  <main>
    <Header client:load menuItems={menuItems}>
      <div slot='homebootcamps' class='flex h-full w-full flex-col gap-y-6'>
        <HeaderDropdown />
      </div>
    </Header>
    <div class='grid gap-12 tablet:gap-15 laptop:gap-16'>
      <Promo />
      <Courses />
      <CourseAccess />
      <Students />
      <OurGrads />
      <GotAQuestion />
      <Footer />
    </div>
  </main>
</Layout>
