---
import Footer from '@components/Footer.astro';
import { Header } from '@components/Header';
import HeaderDropdown from '@components/homePage/HeaderDropdown.astro';
import Questions from '@components/sections/common/questions/Questions.astro';
import StudentFeedback from '@components/sections/common/studentFeedback/StudentFeedback.astro';
import CourseAccess from '@components/sections/homepage/courseAccess/CourseAccess.astro';
import Courses from '@components/sections/homepage/courses/Courses.astro';
import OurGrads from '@components/sections/homepage/ourGrads/OurGrads.astro';
import Promo from '@components/sections/homepage/promo/Promo.astro';
import Layout from '@layouts/Layout.astro';
import '../index.scss';

const menuItems = [
  {
    label: 'Bootcamps',
    id: 'homebootcamps',
    isDropdown: true,
  },
  {
    label: 'Why Cyram',
    id: 'homewhycyram',
    isDropdown: true,
  },
  {
    label: 'Resources',
    id: 'homeresources',
    isDropdown: true,
  },
  {
    label: 'Blog',
    id: 'homeblog',
  },
];
---

<Layout title='Cyram Online Coding Bootcamp'>
  <main>
    <Header client:load menuItems={menuItems}>
      <div slot='homebootcamps' class='flex h-full w-full flex-col gap-y-6'>
        <HeaderDropdown />
      </div>
    </Header>
    <Promo />
    <Courses />
    <CourseAccess />
    <StudentFeedback />
    <OurGrads />
    <Questions />
    <Footer />
  </main>
</Layout>
