---
import Navbar from '@components/Navbar';
import Faq from '@components/sections/common/faq/Faq.astro';
import Footer from '@components/sections/common/footer/Footer.astro';
import CourseAccess from '@components/sections/homepage/courseAccess/CourseAccess.astro';
import Courses from '@components/sections/homepage/courses/Courses.astro';
import HeaderDropdown from '@components/sections/homepage/headerDropdown/HeaderDropdown.astro';
import OurGrads from '@components/sections/homepage/ourGrads/OurGrads.astro';
import Promo from '@components/sections/homepage/promo/Promo.astro';
import Students from '@components/sections/homepage/students/Students.astro';
import Layout from '@layouts/Layout.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import '../index.scss';

const menuItems = [
  {
    label: 'Bootcamps',
    id: 'homebootcamps',
    isDropdown: true,
  },
  {
    label: 'Why Cyram',
    id: 'homewhycyram',
    isDropdown: true,
  },
  {
    label: 'Resources',
    id: 'homeresources',
    isDropdown: true,
  },
  {
    label: 'Blog',
    id: 'homeblog',
  },
];
---

<Layout title='Cyram Online Coding Bootcamp'>
  <main>
    <Navbar client:load menuItems={menuItems}>
      <div slot='homebootcamps' class='flex h-full w-full flex-col gap-y-6'>
        <HeaderDropdown />
      </div>
    </Navbar>
    <ViewTransitions />
    <div class='grid gap-12 tablet:gap-15 laptop:gap-16'>
      <Promo />
      <Courses />
      <CourseAccess />
      <Students />
      <OurGrads />
      <Faq page='home' />
      <Footer />
    </div>
  </main>
</Layout>
 @components/Navbar
