---
import QACourseImage from '@assets/qa/people/qa-course-image.jpg';
import Navbar from '@components/Navbar';
import BootcampTeam from '@components/sections/common/bootcampTeam/BootcampTeam.astro';
import BootcampTuition from '@components/sections/common/bootcampTuition/BootcampTuition.astro';
import CourseDefinition from '@components/sections/common/courseDefinition/CourseDefinition.astro';
import Curriculum from '@components/sections/common/curriculum/Curriculum';
import Faq from '@components/sections/common/faq/Faq.astro';
import Footer from '@components/sections/common/footer/Footer.astro';
import GetStarted from '@components/sections/common/getStarted/GetStarted.astro';
import Hero from '@components/sections/common/hero/Hero.astro';
import Overview from '@components/sections/common/overview/Overview.astro';
import Schedule from '@components/sections/common/schedule/Schedule.astro';
import Students from '@components/sections/common/students/Students.astro';
import WhyFullstack from '@components/sections/common/whyFullstack/WhyFullstack.astro';
import HeaderDropdown from '@components/sections/home/headerDropdown/HeaderDropdown.astro';
import Layout from '@layouts/Layout.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import '../index.scss';

const menuItems = [
  { label: 'Bootcamps', id: 'qabootcamp', isDropdown: true, isLeft: true },
  { label: 'Overview', id: 'qaoverview' },
  { label: 'Curriculum', id: 'qacurriculum' },
  { label: 'Why Fullstack ', id: 'whyfullstack' },
  { label: 'Tuition', id: 'qatuition' },
  { label: 'Education Team', id: 'qaeducationteam' },
  { label: 'FAQ', id: 'faq' },
];

const heroData = {
  heroTitle: 'Quality Assurance Bootcamp: Ignite Your Tech Journey!',
  subTitle:
    'Transform into a QA engineer in just 5 months and gain in-demand skills. Join our live online classes and master the art of quality assurance.',
  heroAltImage: 'qa-course-image',
  heroImage: QACourseImage,
};

const courseDefinitionData = {
  headerTitle: `HERE'S THE DEAL`,
  title: 'What is Quality Assurance?',
  definitions: [
    {
      title: 'Bug busters:',
      description:
        "QA Engineers test software to find those pesky bugs and glitches. It's a bit like a treasure hunt, but instead of gold, you discover issues in software.",
    },
    {
      title: 'Fast-track to tech:',
      description:
        "Start your career as a QA engineer and, as you dive into the tech universe, you'll discover endless possibilities. Whether you want to explore further in automation or explore other tech roles like a software developer or a devops engineer, the path is yours to chart.",
    },
  ],
};

const faqContents = {
  questions: [
    {
      question: 'Can I try Fullstack Maven for free?',
      answer: `Yes, you can select a monthly payment plan of $550.00 a month for 10 months and $1,400.00 upfront. Note: You will be required to pay the full duration of the payment plan even if you finish the program before the payment plan ends.`,
    },
    {
      question: `How long are your courses?`,
      answer: `Learners progress through the material at their own pace, moving on in the program by demonstrating competency in each sprint. With Fullstack Maven’s self-paced format, learners complete the program anywhere between 6 and 10 months.`,
    },
    {
      question: `How much does Fullstack Maven cost?`,
      answer: `Total costs range from $11,950 for upfront tuition to $16,000+ for Deferred Tuition. With Deferred tuition, we don’t require any upfront payments. With both options, you’ll owe nothing if you don’t get a job within a year of graduation (terms apply). Discover all the available tuition choices here!`,
    },
  ],
  unsure: true,
};
---

<Layout title='Quality Assurance Bootcamp'>
  <div class='h-fit bg-secondary'>
    <Navbar client:load menuItems={menuItems}>
      <div slot='qabootcamp' class='flex h-full w-full flex-col gap-y-6'>
        <HeaderDropdown />
      </div>
    </Navbar>
    <Hero {...heroData} />
    <ViewTransitions />
  </div>
  <div
    class='flex flex-grow flex-col gap-y-12 pt-12 tablet:gap-y-15 tablet:pt-16 laptop:gap-y-16 laptop:pt-17'
  >
    <CourseDefinition {...courseDefinitionData} />
    <Overview />
    <Curriculum client:load />
    <Schedule />
    <WhyFullstack />
    <BootcampTeam />
    <Students />
    <BootcampTuition />
    <Faq {...faqContents} />
    <GetStarted />
    <Footer />
  </div>
</Layout>
