---
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';
import GetInTouch from '../components/sections/common/getInTouch/GetInTouch.astro';
import BootcampAlumni from '../components/sections/qaCourse/bootcampAlumni/BootcampAlumni.astro';
import BootcampTeam from '../components/sections/qaCourse/bootcampTeam/BootcampTeam.astro';
import BootcampTuition from '../components/sections/qaCourse/bootcampTuition/BootcampTuition.astro';
import Curriculum from '../components/sections/qaCourse/curriculum/Curriculum.astro';
import Lectures from '../components/sections/qaCourse/lectures/Lectures.astro';
import Overview from '../components/sections/qaCourse/overview/Overview.astro';
import Promo from '../components/sections/qaCourse/promo/Promo.astro';
import QADefinition from '../components/sections/qaCourse/qaDefinition/QADefinition.astro';
import WhyCyram from '../components/sections/qaCourse/whyCyram/WhyCyram.astro';
import Questions from '../components/sections/common/questions/Questions.astro';
import '../index.scss';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Quality Assurance Bootcamp'>
  <Header
    client:load
    className='bg-light-orange'
    menuItems={[
      { label: 'Overview', id: 'qa-overview' },
      { label: 'Curriculum', id: 'qa-curriculum' },
      { label: 'Why Cyram ', id: 'why-cyram' },
      { label: 'Tuition', id: 'qa-tuition' },
      { label: 'Education Team', id: 'qa-education-team' },
      { label: 'FAQ', id: 'faq' },
    ]}
  />
  <div class='bg-light-orange pt-6 lg:pt-13 xl:pt-[88px]'>
    <Promo />
    <!-- <Lectures /> TODO: this component will be removed -->
  </div>
  <div class='child:pt-12 md:child:pt-13 lg:child:pt-15'>
    <QADefinition />
    <Overview />
    <Curriculum />
    <BootcampTeam />
    <WhyCyram />
    <BootcampAlumni />
    <BootcampTuition />
    <div>
      <Questions />
      <GetInTouch />
    </div>
    <Footer />
  </div>
</Layout>
