---
import { Header } from '../components/Header';
import BootcampAlumni from '../components/sections/qaCourse/bootcampAlumni/BootcampAlumni.astro';
import BootcampTeam from '../components/sections/qaCourse/bootcampTeam/BootcampTeam.astro';
import Curriculum from '../components/sections/qaCourse/curriculum/Curriculum.astro';
import Lectures from '../components/sections/qaCourse/lectures/Lectures.astro';
import Overview from '../components/sections/qaCourse/overview/Overview.astro';
import Promo from '../components/sections/qaCourse/promo/Promo.astro';
import QADefinition from '../components/sections/qaCourse/qaDefinition/QADefinition.astro';
import WhyCyram from '../components/sections/qaCourse/whyCyram/WhyCyram.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='QA Course page'>
  <Header
    className='bg-light-orange'
    menuItems={[
      'Introduction',
      'Learning Process',
      'Curriculum',
      'Tuition',
      'FAQ',
    ]}
  />
  <div class='bg-light-orange'>
    <Promo />
    <Lectures />
  </div>
  <div class='py-12 bg-cultured space-y-12'>
    <QADefinition />
    <Overview />
    <Curriculum />
    <BootcampTeam />
    <WhyCyram />
    <BootcampAlumni />
  </div>
</Layout>
