---
import SECourseImage from '@assets/se/people/se-course-image.jpg';
import Navbar from '@components/Navbar';
import BootcampTeam from '@components/sections/common/bootcampTeam/BootcampTeam.astro';
import BootcampTuition from '@components/sections/common/bootcampTuition/BootcampTuition.astro';
import CourseDefinition from '@components/sections/common/courseDefinition/CourseDefinition.astro';
import Curriculum from '@components/sections/common/curriculum/Curriculum';
import Faq from '@components/sections/common/faq/Faq.astro';
import Footer from '@components/sections/common/footer/Footer.astro';
import GetStarted from '@components/sections/common/getStarted/GetStarted.astro';
import Hero from '@components/sections/common/hero/Hero.astro';
import Overview from '@components/sections/common/overview/Overview.astro';
import Schedule from '@components/sections/common/schedule/Schedule.astro';
import Students from '@components/sections/common/students/Students.astro';
import WhyCyram from '@components/sections/common/whyCyram/WhyCyram.astro';
import HeaderDropdown from '@components/sections/home/headerDropdown/HeaderDropdown.astro';
import DevStack from '@components/sections/se/devStack/DevStack.astro';
import Project from '@components/sections/se/projects/Project.astro';
import Workshop from '@components/sections/se/workshop/Workshop.astro';
import Layout from '@layouts/Layout.astro';
import '../index.scss';

const menuItems = [
  { label: 'Bootcamps', id: 'qabootcamp', isDropdown: true, isLeft: true },
  { label: 'Overview', id: 'qaoverview' },
  { label: 'Curriculum', id: 'qacurriculum' },
  { label: 'Why Cyram ', id: 'whycyram' },
  { label: 'Tuition', id: 'qatuition' },
  { label: 'Education Team', id: 'qaeducationteam' },
  { label: 'FAQ', id: 'faq' },
];

const courseDefinitionData = {
  headerTitle: `HERE'S THE DEAL`,
  title: `What’s Software Engineering?`,
  definitions: [
    {
      title: '',
      description:
        'Think of software engineering as the art of creating digital magic. Software engineers are the modern-day wizards who build the cool stuff you see on your devices—like websites, apps, and games. They turn ideas into reality!',
    },
  ],
};

const faqContents = {
  questions: [
    {
      question: 'Can I try Cyram for free?',
      answer: `Yes, you can select a monthly payment plan of $550.00 a month for 10 months and $1,400.00 upfront. Note: You will be required to pay the full duration of the payment plan even if you finish the program before the payment plan ends.`,
    },
    {
      question: `How long are your courses?`,
      answer: `Learners progress through the material at their own pace, moving on in the program by demonstrating competency in each sprint. With Cyram’s self-paced format, learners complete the program anywhere between 6 and 10 months.`,
    },
    {
      question: `How much does Cyram cost?`,
      answer: `Total costs range from $11,950 for upfront tuition to $16,000+ for Deferred Tuition. With Deferred tuition, we don’t require any upfront payments. With both options, you’ll owe nothing if you don’t get a job within a year of graduation (terms apply). Discover all the available tuition choices here!`,
    },
  ],
  unsure: false,
};
---

<Layout title='Quality Assurance Bootcamp'>
  <Navbar client:load menuItems={menuItems}>
    <div slot='qabootcamp' class='flex h-full w-full flex-col gap-y-6'>
      <HeaderDropdown />
    </div>
  </Navbar>
  <Hero
    heroTitle='Software Engineering Bootcamp: Craft Your Tech Future!'
    subTitle='Start your tech career with our immersive coding bootcamp. Create real-world projects and build your job-ready portfolio!'
    heroAltImage='qa-course-image'
    heroImage={SECourseImage}
  />
  <div
    class='flex flex-grow flex-col gap-y-12 pt-12 tablet:gap-y-14 tablet:py-13 laptop:gap-y-16 laptop:pt-17'
  >
    <CourseDefinition {...courseDefinitionData} />
    <Overview />
    <Curriculum client:load />
    <DevStack />
    <Project />
    <Workshop />
    <Schedule />
    <WhyCyram />
    <Students />
    <BootcampTeam />
    <BootcampTuition />
    <Faq {...faqContents} />
    <GetStarted />
    <Footer />
  </div>
</Layout>
