---
const { description, topics } = Astro.props;
---

<div class='space-y-3'>
  <div class='flex items-center justify-start space-x-3'>
    <img src='https://placehold.co/41x39' />
    <p class='text-primary/80 text-xxs font-semibold leading-3-'>
      Watch a brief intro
    </p>
  </div>
  <p class='text-dark-gray text-xxs font-medium leading-4'>
    {description}
  </p>
  <ul class='pl-3 list-disc text-dark-gray text-xxs font-medium leading-4'>
    {topics.map((topic, index) => <li key={`topics-${index}`}>{topic}</li>)}
  </ul>
</div>
