<div
  class="wrapper courses flex flex-col gap-4 md:gap-4 lg:gap-6 xl:gap-4 lg:items-center"
>
  <h2
    class="text-dark text-xl md:text-3xl lg:text-[48px] md:text-center font-bold"
  >
    Our grads work here
  </h2>
  <p
    class="text-dark-gray text-s leading-[22px] pb-4 md:text-center md:text-base lg:w-[837px]"
  >
    We're grateful to have educated 500,000 folks in 150+ countries and we're
    trusted by industry leading teams like Google, Figma, Revolut, and Shopify
  </p>
  <div class="w-full flex flex-col gap-y-6">
    <div
      class="child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between"
    >
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/google-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/airbnb-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/amazon-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/microsoft-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/airbnb-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/amazon-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/meta-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/google-logo.svg"
      />
    </div>
    <div
      class="child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between"
    >
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/meta-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/netflix-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/uber-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/uber-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/linkedin-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/booking-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/uber-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/linkedin-logo.svg"
      />
    </div>
    <div
      class="child:md:w-auto flex flex-wrap gap-y-6 h-[34px] md:h-[31px] lg:h-[46px] child:w-[96px] w-full justify-between"
    >
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/zoom-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/microsoft-logo.svg"
      />
      <img
        class="h-full md:hidden md:appearance-none"
        src="home-page/linkedin-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/booking-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/notion-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/airbnb-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/airbnb-logo.svg"
      />
      <img
        class="h-full hidden appearance-none md:block"
        src="home-page/airbnb-logo.svg"
      />
    </div>
  </div>

  <div class="flex content-center justify-center my-4 w-full">
    <img
      src="home-page/grad-work-video.svg"
      class="object-contain w-full md:rounded-[16px] lg:rounded-xl md:hidden"
    />
    <img
      src="home-page/grad-work-video-desktop.svg"
      class="object-contain w-full md:rounded-[16px] lg:rounded-xl hidden md:block"
    />
  </div>
</div>;
