<div class='courses pt-12 flex flex-col gap-6 md:gap-4 lg:gap-6 xl:gap-4'>
  <div class='container'>
    <div class='flex flex-col justify-center content-center'>
      <h2 class='text-l font-bold leading-s pb-3'>Our grads work here</h2>
      <div class='flex items-center content-center gap-y-2 gap-x-8 flex-wrap'>
        <img src='home-page/microsoft-logo.svg' />
        <img src='home-page/airbnb-logo.svg' />
        <img src='home-page/amazon-logo.svg' />
        <img src='home-page/microsoft-logo.svg' />
        <img src='home-page/airbnb-logo.svg' />
        <img src='home-page/amazon-logo.svg' />
      </div>

      <div class='flex content-center justify-center my-4'>
        <img src='home-page/grad-work-video.svg' />
      </div>
    </div>
  </div>
</div>
