<div
  class='container courses flex flex-col gap-4 md:gap-4 lg:gap-6 xl:gap-4 lg:items-center'
>
  <h2
    class='text-dark text-xl md:text-3xl lg:text-[48px] md:text-center font-bold tracking-[0.64px]'
  >
    Our grads work here
  </h2>
  <p
    class='text-dark-gray text-s leading-[22px] tracking-[0.32px] pb-4 md:text-center md:text-base md:tracking-[0.4px] lg:w-[837px]'
  >
    We're grateful to have educated 500,000 folks in 150+ countries and we're
    trusted by industry leading teams like Google, Figma, Revolut, and Shopify
  </p>
  <div
    class='w-full grid grid-cols-3 md:grid-cols-5 gap-6 child:h-[34px] child:md:h-[31px] child:lg:h-[46px] child:w-[96px] child:md:w-[85px] h-[155px] md:h-[166px] items-center justify-self-center place-items-center'
  >
    <div>
      <img class='w-full h-full' src='home-page/google-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/airbnb-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/amazon-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/meta-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/netflix-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/uber-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/zoom-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/microsoft-logo.svg' />
    </div>
    <div>
      <img class='w-full h-full' src='home-page/linkedin-logo.svg' />
    </div>
    <div class='hidden appearance-none md:block'>
      <img class='w-full h-full' src='home-page/doordash-logo.svg' />
    </div>

    <div class='hidden appearance-none md:block'>
      <img
        class='w-full h-full hidden appearance-none md:block'
        src='home-page/notion-logo.svg'
      />
    </div>

    <div class='hidden appearance-none md:block'>
      <img
        class='w-full h-full hidden appearance-none md:block'
        src='home-page/paypal-logo.svg'
      />
    </div>

    <div class='hidden appearance-none md:block'>
      <img
        class='w-full h-full hidden appearance-none md:block'
        src='home-page/tesla-logo.svg'
      />
    </div>

    <div class='hidden appearance-none md:block'>
      <img
        class='w-full h-full hidden appearance-none md:block'
        src='home-page/zoom-logo.svg'
      />
    </div>

    <div class='hidden appearance-none lg:block'>
      <img class='w-full h-full' src='home-page/airbnb-logo.svg' />
    </div>
  </div>

  <div
    class='flex content-center justify-center my-4 w-full h-[192px] md:h-[396px] lg:h-[540px]'
  >
    <img
      src='home-page/grad-work-video.svg'
      class='object-contain w-full md:rounded-[16px] lg:rounded-xl md:hidden'
    />
    <img
      src='home-page/grad-work-video-desktop.svg'
      class='object-contain w-full md:rounded-[16px] lg:rounded-xl hidden md:block'
    />
  </div>
</div>
