---
import Instructor1 from '@assets/instructor-image-1.jpg';
import Instructor2 from '@assets/instructor-image-2.jpg';
import Instructor3 from '@assets/instructor-image-3.jpg';
import Instructor4 from '@assets/instructor-image-4.jpg';
import Instructor5 from '@assets/instructor-image-5.jpg';
import type { ImageMetadata } from 'astro';
import Header from '../header/Header.astro';
import InstructorCard from './InstructorCard/InstructorCard.astro';

export interface TInstructor {
  title: string;
  image: ImageMetadata;
  name: string;
  jobTitle: string;
  imageCompanyUrl: string;
  companyname: string;
}

const defaultInstructors: TInstructor[] = [
  {
    image: Instructor1,
    title: 'Teacher',
    imageUrl: 'expert-instructor-1.jpeg',
    name: 'Sara Mustafa',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    image: Instructor2,
    title: 'Teacher',
    imageUrl: 'expert-instructor-2.jpeg',
    name: 'Steven Murphy',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    image: Instructor3,
    title: 'Teacher',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    image: Instructor4,
    title: 'Teacher',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    image: Instructor5,
    title: 'Teacher',
    imageUrl: 'expert-instructor-3.jpeg',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
];
---

<section id='qaeducationteam' class='container max-w-screen-desktop'>
  <Header
    description={`During your training, you will be guided step by step from our highly
    experienced instructors who worked at top companies in various industries.`}
    title='Learn live with industry experts'
    headerTitle='BOOTCAMP TEAM'
  />
  <ul class='grid grid-cols-2 gap-4 tablet:grid-cols-3'>
    {
      defaultInstructors.map((instructor) => (
        <li class='min-h-[216px] tablet:min-h-[364px]'>
          <InstructorCard {...instructor} />
        </li>
      ))
    }
  </ul>
</section>
