---
import InstructorCard from './InstructorCard/InstructorCard.astro';
type TInstructor = {
  title: string;
  imageUrl: string;
  name: string;
  jobTitle: string;
  imageCompanyUrl: string;
  companyname: string;
};

const defaultInstructors: TInstructor[] = [
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-1.jpeg',
    name: 'Sara Mustafa',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-2.jpeg',
    name: 'Steven Murphy',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-3.jpeg',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
];
---

<div id='qa-education-team' class='container grid gap-y-4 lg:gap-y-6'>
  <p class='text-dark-gray text-xs font-normal uppercase lg:text-s'>
    BOOTCAMP TEAM
  </p>
  <h1 class='text-dark text-l leading-8 font-bold lg:text-2xl'>
    Meet our expert instructors
  </h1>
  <p class='text-s font-normal leading-6 text-dark-gray lg:text-base'>
    During your training, you will be guided step by step from our highly
    experienced instructors who worked at top companies of various industries.
  </p>
  <div class='flex flex-row w-full gap-4'>
    {
      defaultInstructors.map((instructor, index) => (
        <InstructorCard key={`qa-course-instructor-${index}`} {...instructor} />
      ))
    }
  </div>
</div>
