---
import InstructorCard from './InstructorCard/InstructorCard.astro';

export interface TInstructor {
  title: string;
  imageUrl: string;
  name: string;
  jobTitle: string;
  imageCompanyUrl: string;
  companyname: string;
}

const defaultInstructors: TInstructor[] = [
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-1.jpeg',
    name: 'Sara Mustafa',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-2.jpeg',
    name: 'Steven Murphy',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-3.jpeg',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
];
---

<section id='qaeducationteam' class='lg:gap-y-6 grid gap-y-4'>
  <p
    class='text-dark-gray lg:text-s lg:leading-6 text-xxs font-normal uppercase leading-4'
  >
    BOOTCAMP TEAM
  </p>
  <h1
    class='text-dark md:text-xl md:leading-2xl lg:text-2xl lg:leading-3xl text-l font-bold leading-8'
  >
    Meet our expert instructors
  </h1>
  <p
    class='text-dark-gray lg:text-base lg:leading-7 text-s font-normal leading-6'
  >
    During your training, you will be guided step by step from our highly
    experienced instructors who worked at top companies of various industries.
  </p>
  <ul class='flex w-full flex-row gap-4'>
    {
      defaultInstructors.map((instructor) => (
        <li class='md:min-h-[321px] lg:min-h-[364px] lg:last:block min-h-[259px] w-1/2 last:hidden'>
          <InstructorCard {...instructor} />
        </li>
      ))
    }
  </ul>
</section>
