---
import Header from '../header/Header.astro';
import InstructorCard from './InstructorCard/InstructorCard.astro';

export interface TInstructor {
  title: string;
  imageUrl: string;
  name: string;
  jobTitle: string;
  imageCompanyUrl: string;
  companyname: string;
}

const defaultInstructors: TInstructor[] = [
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-1.jpeg',
    name: 'Sara Mustafa',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-2.jpeg',
    name: 'Steven Murphy',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-3.jpeg',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
];
---

<section id='qaeducationteam' class='container max-w-screen-desktop'>
  <Header
    description={`During your training, you will be guided step by step from our highly
    experienced instructors who worked at top companies in various industries.`}
    title='Learn live with industry experts'
    headerTitle='BOOTCAMP TEAM'
  />
  <ul class='grid grid-cols-2 gap-4'>
    {
      defaultInstructors.map((instructor) => (
        <li class='min-h-[216px]'>
          <InstructorCard {...instructor} />
        </li>
      ))
    }
  </ul>
</section>
