<div class='container'>
  <p class='text-dark-gray text-xxs font-normal leading-normal uppercase pb-3'>
    BOOTCAMP TEAM
  </p>
  <h1 class='text-dark text-l font-bold leading-normal pb-3'>
    Meet our expert instructors
  </h1>
  <p class='text-s font-normal leading-5 text-dark-gray pb-4'>
    {
      `During your training, you will be guided step by step from our highly experienced instructors who worked at top companies of various industries.`
    }
  </p>
  <div class='flex flex-row space-x-4'>
    <img src='https://placehold.co/164x249' class='w-1/2' />
    <img src='https://placehold.co/164x249' class='w-1/2' />
  </div>
</div>
