---
import InstructorCard from './InstructorCard/InstructorCard.astro';

export interface TInstructor {
  title: string;
  imageUrl: string;
  name: string;
  jobTitle: string;
  imageCompanyUrl: string;
  companyname: string;
}

const defaultInstructors: TInstructor[] = [
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-1.jpeg',
    name: 'Sara Mustafa',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-2.jpeg',
    name: 'Steven Murphy',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
  {
    title: 'Teacher',
    imageUrl: 'qa-course/expert-instructor-3.jpeg',
    name: 'Lauren Zirbard',
    jobTitle: 'Software Engineer',
    imageCompanyUrl: 'airbnb-icon.svg',
    companyname: 'Airbnb',
  },
];
---

<section id='qaeducationteam' class='grid gap-y-4 laptop:gap-y-6'>
  <p
    class='text-xxs font-normal uppercase leading-4 text-gray-700 laptop:text-s laptop:leading-6'
  >
    BOOTCAMP TEAM
  </p>
  <h1
    class='text-dark text-l font-bold leading-8 tablet:text-xl tablet:leading-2xl laptop:text-2xl laptop:leading-3xl'
  >
    Meet our expert instructors
  </h1>
  <p
    class='text-s font-normal leading-6 text-gray-700 laptop:text-base laptop:leading-7'
  >
    During your training, you will be guided step by step from our highly
    experienced instructors who worked at top companies of various industries.
  </p>
  <ul class='flex w-full flex-row gap-4'>
    {
      defaultInstructors.map((instructor) => (
        <li class='min-h-[259px] w-1/2 last:hidden tablet:min-h-[321px] laptop:min-h-[364px] laptop:last:block'>
          <InstructorCard {...instructor} />
        </li>
      ))
    }
  </ul>
</section>
