<footer class="container grid grid-cols-1 gap-8 md:gap-4 lg:gap-y-[120px] lg:gap-x-13 lg:grid-cols-2">
  <section class="col-span-1 pm-6">
    <div class="flex flex-row jusitfy-around content-center w-full">
      <h4 class="font-bold pr-4 text-base md:text-l">Bootcamps</h4>
      <div class="line w-full self-center"></div>
    </div>
    <ul class="grid gap-3 md:gap-4 pt-4">
      <li class="text-s font-medium">Software Engineering Bootcamp</li>
      <li class="text-s font-medium">Quality Assurance Bootcamp</li>
      <li class="text-s font-medium">Free HTML Course Bootcamp</li>
      <li class="text-s font-medium">Free CSS Course Bootcamp</li>
    </ul>
  </section>
  <section class="col-span-1 mb-8">
    <div class="flex flex-row jusitfy-around content-center w-full">
      <h4 class="font-bold pr-4 text-base md:text-l">Useful</h4>
      <div class="line w-full self-center"></div>
    </div>
    <ul class="grid gap-3 md:gap-4 lg:gap-6 pt-4">
      <li class="text-s font-medium">Career Quiz</li>
      <li class="text-s font-medium">Blog</li>
      <li class="text-s font-medium">Outcomes</li>
      <li class="text-s font-medium">Payment options</li>
      <li class="text-s font-medium">FAQ</li>
    </ul>
  </section>
  <section class="flex justify-between w-full lg:col-span-2">
    <p class="text-dark text-s font-medium">© 2023 cyram.io</p>
  </section>
</footer>;
