<footer
  class='courses pt-12 pb-8 mx-auto px-4 flex flex-col gap-6 md:px-8 md:gap-4 lg:gap-6 xl:px-13 xl:gap-4'
>
  <section class='pm-6'>
    <h4 class="font-bold">Programs</h4>
    <ul class="my-4">
      <li class="mb-2">Software Engineering</li>
      <li  class="mb-2">Quality Assurance</li>
      <li  class="mb-2">Free HTML Course</li>
      <li  class="mb-2">Free CSS Course</li>
    </ul>
  </section>
  <section class='pm-6'>
    <div class="flex flex-row jusitfy-around content-center">
        <h4 class="font-bold pr-4">Useful</h4>
        <div class="line w-full self-center"></div>
    </div>
    <ul class="my-4">
      <li  class="mb-2">Career Quiz</li>
      <li  class="mb-2">Blog</li>
      <li  class="mb-2">Outcomes</li>
      <li  class="mb-2">Payment options</li>
      <li  class="mb-2">FAQ</li>
    </ul>
  </section>
  <section class='pm-6'>
    <h4 class="font-bold">Contact</h4>
    <ul class="my-4">
      <li  class="mb-2">support@cyram.io</li>
    </ul>
  </section>
</footer>
