<footer
  class='container mb-12 grid w-full min-w-full grid-cols-1 gap-y-12 tablet:grid-cols-2 tablet:gap-x-12 tablet:gap-y-6 laptop:grid-cols-3 laptop:gap-16 laptop:gap-x-13'
>
  <section class='col-span-1'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Bootcamps
    </h4>
    <ul class='grid gap-4 pl-3'>
      <li class='text-s font-medium text-primary'>
        Software Engineering Bootcamp
      </li>
      <li class='text-s font-medium text-primary'>
        Quality Assurance Bootcamp
      </li>
      <li class='text-s font-medium text-primary'>Free HTML Course Bootcamp</li>
      <li class='text-s font-medium text-primary'>Free CSS Course Bootcamp</li>
    </ul>
  </section>
  <section class='col-span-1'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Useful
    </h4>
    <ul class='grid gap-4 pl-3'>
      <li class='text-s font-medium text-primary'>Career Quiz</li>
      <li class='text-s font-medium text-primary'>Blog</li>
      <li class='text-s font-medium text-primary'>Outcomes</li>
      <li class='text-s font-medium text-primary'>Payment options</li>
      <li class='text-s font-medium text-primary'>FAQ</li>
    </ul>
  </section>
  <section class='col-span-1'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Cyram · Online Coding Bootcamp
    </h4>
    <p class='text-s tracking-wider text-gray-700'>
      Getting into tech is made ridiculously expensive by many bootcamps. Being
      fully self-funded, we happily cut through the noise and help people get
      into tech at an affordable price, taking a 100% learn-by-doing approach.
    </p>
  </section>
  <section class='laptop:hidden'></section>
  <section class='mt-0 flex w-full justify-between tablet:mt-12 laptop:mt-0'>
    <p class='text-s font-medium text-primary'>© 2023 cyram.io</p>
  </section>
</footer>
