<footer
  class='courses container grid grid-cols-1 gap-8 md:gap-4 lg:gap-y-[120px] lg:gap-x-13 lg:grid-cols-2'
>
  <section class='pm-6'>
    <div class='flex flex-row jusitfy-around content-center w-full'>
      <h4 class='font-bold pr-4 text-base md:text-l tracking-[0.4px]'>
        Bootcamps
      </h4>
      <div class='line w-full self-center'></div>
    </div>
    <ul class='grid gap-3 md:gap-4 pt-4'>
      <li class='text-s font-medium tracking-[0.32px]'>
        Software Engineering Bootcamp
      </li>
      <li class='text-s font-medium tracking-[0.32px]'>
        Quality Assurance Bootcamp
      </li>
      <li class='text-s font-medium tracking-[0.32px]'>
        Free HTML Course Bootcamp
      </li>
      <li class='text-s font-medium tracking-[0.32px]'>
        Free CSS Course Bootcamp
      </li>
    </ul>
  </section>
  <section class='mb-8'>
    <div class='flex flex-row jusitfy-around content-center w-full'>
      <h4 class='font-bold pr-4 text-base md:text-l tracking-[0.4px]'>
        Useful
      </h4>
      <div class='line w-full self-center'></div>
    </div>
    <ul class='grid gap-3 md:gap-4 lg:gap-6 pt-4'>
      <li class='text-s font-medium tracking-[0.32px]'>Career Quiz</li>
      <li class='text-s font-medium tracking-[0.32px]'>Blog</li>
      <li class='text-s font-medium tracking-[0.32px]'>Outcomes</li>
      <li class='text-s font-medium tracking-[0.32px]'>Payment options</li>
      <li class='text-s font-medium tracking-[0.32px]'>FAQ</li>
    </ul>
  </section>
  <section class='flex justify-between w-full lg:col-span-4'>
    <p class='text-dark text-s font-medium tracking-[0.32px]'>
      © 2023 cyram.io
    </p>
    <!-- <div class='flex space-x-3'>
      <div
        class={`cursor-pointer h-5 w-5 rounded-full bg-no-repeat bg-center p-3 border border-dark/10 bg-[#EBEBEB]`}
        style={{ backgroundImage: `url('facebook-icon.svg')` }}
      >
      </div>
      <div
        class={`cursor-pointer h-5 w-5 rounded-full bg-no-repeat bg-center p-3 border border-dark/10 bg-[#EBEBEB]`}
        style={{ backgroundImage: `url('linkedin-icon.svg')` }}
      >
      </div>
      <div
        class={`cursor-pointer h-5 w-5 rounded-full bg-no-repeat bg-center p-3 border border-dark/10 bg-[#EBEBEB]`}
        style={{ backgroundImage: `url('youtube-icon.svg')` }}
      >
      </div>
    </div> -->
  </section>
</footer>
