<footer class='container mb-12 grid w-full grid-cols-1'>
  <section class='col-span-1 mb-12'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Bootcamps
    </h4>
    <ul class='grid gap-4 pl-3'>
      <li class='text-s font-medium text-primary'>
        Software Engineering Bootcamp
      </li>
      <li class='text-s font-medium text-primary'>
        Quality Assurance Bootcamp
      </li>
      <li class='text-s font-medium text-primary'>Free HTML Course Bootcamp</li>
      <li class='text-s font-medium text-primary'>Free CSS Course Bootcamp</li>
    </ul>
  </section>
  <section class='col-span-1 mb-12'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Useful
    </h4>
    <ul class='grid gap-4 pl-3'>
      <li class='text-s font-medium text-primary'>Career Quiz</li>
      <li class='text-s font-medium text-primary'>Blog</li>
      <li class='text-s font-medium text-primary'>Outcomes</li>
      <li class='text-s font-medium text-primary'>Payment options</li>
      <li class='text-s font-medium text-primary'>FAQ</li>
    </ul>
  </section>
  <section class='col-span-1 mb-13'>
    <h4
      class='mb-4 border border-x-0 border-t-0 border-b-gray-300 py-4 text-xs text-primary'
    >
      Cyram · Online Coding Bootcamp
    </h4>
    <p class='text-s text-gray-700'>
      Getting into tech is made ridiculously hard with crazy expensive tuition.
      Being fully self-funded, we happily cut through the noise and help people
      get into tech at an affordable price, taking a 100% learn-by-doing
      approach.
    </p>
  </section>
  <section class='flex w-full justify-between laptop:col-span-2'>
    <p class='text-dark text-s font-medium'>© 2023 cyram.io</p>
  </section>
</footer>
