---
import Questions from '@components/sections/common/questions/Questions.astro';
import Header from './sections/qaCourse/header/Header.astro';
---

<section class='container max-w-screen-desktop'>
  <Header headerTitle='FAQ' title='Got a question about our bootcamp?' />
  <Questions unsure />
</section>
