---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'header'> {
  headerTitle?: string;
  title?: string;
  description?: string;
  isCentered?: boolean;
}

const {
  description,
  headerTitle,
  title,
  isCentered = false,
  ...attrs
} = Astro.props;
---

<header
  class:list={[
    'grid gap-y-3',
    {
      'gap-y-4': isCentered,
    },
    attrs.class,
  ]}
  {...attrs}
>
  {
    headerTitle && (
      <p class='text-xxs uppercase text-gray-700 tablet:text-xs laptop:text-s'>
        {headerTitle}
      </p>
    )
  }
  <h1
    class:list={[
      'text-l font-bold tracking-widest text-black tablet:text-xl laptop:text-2xl',
      {
        'text-xl tablet:text-center tablet:text-3xl laptop:text-4xl':
          isCentered,
      },
    ]}
  >
    {title}
  </h1>
  {
    description && (
      <p
        class:list={[
          'mt-3 text-s tracking-wider text-gray-700 tablet:mt-6 laptop:text-base',
          {
            'mt-4 tablet:mt-8 tablet:text-center': isCentered,
          },
        ]}
      >
        {description}
      </p>
    )
  }
</header>
