---
import { Button } from '@components/Button';
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import ImageLiveLecture from '@assets/se/people/hero-person.jpg';
import ReactIcon from '@assets/se/techIcons/react.svg';
import JavascriptIcon from '@assets/se/techIcons/javascript.svg';
import TypescriptIcon from '@assets/se/techIcons/typescript.svg';
import NodejsIcon from '@assets/se/techIcons/nodejs.svg';
import awsIcon from '@assets/se/techIcons/aws.svg';

interface Props {
  courseName: 'se' | 'qa';
}

// TODO: This component needs to be refactored to work for any course hero
const { courseName } = Astro.props;

const heroTitle =
  courseName === 'se'
    ? 'Software Engineering Bootcamp: Craft Your Tech Future!'
    : 'Quality Assurance Bootcamp: Ignite Your Tech Journey!';

const subTitle =
  courseName === 'se'
    ? 'Start your tech career with our immersive coding bootcamp. Create real-world projects and build your job-ready portfolio!'
    : 'Transform into a QA engineer in just 5 months and gain in-demand skills. Join our live online classes and master the art of quality assurance.';
---

<section
  class='container flex max-w-screen-desktop flex-col gap-y-12 py-12 laptop:flex-row laptop:gap-x-6 laptop:py-14'
>
  <div class='flex flex-1 flex-col items-start gap-6'>
    <h1 class='text-xl font-bold leading-tight text-black tablet:text-3xl'>
      {heroTitle}
    </h1>
    <p class='text-s leading-6 tracking-wider text-primary'>{subTitle}</p>
    <Button title='Enroll now' className='tablet:px-6 tablet:py-3' />
  </div>
  <figure class='relative flex h-auto w-full flex-1 flex-col'>
    <Image
      src={ImageLiveLecture}
      alt='live-lecture-image'
      loading='lazy'
      decoding='async'
      class='h-[26rem] w-full rounded-l object-cover'
    />
    <div class='absolute flex h-full w-full flex-col justify-between p-4'>
      <div
        class='flex w-fit items-center gap-x-3 rounded-s border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]'
      >
        <div class='ml-2'>
          <LiveIndicatorPulse />
        </div>
        <p class='text-xs text-primary'>Live Lectures</p>
      </div>
      <div class='flex w-fit'>
        {
          [ReactIcon, JavascriptIcon, TypescriptIcon, NodejsIcon, awsIcon].map(
            (icon) => (
              <div class=''>
                <Image
                  src={icon}
                  alt={'tech-stack-image'}
                  loading='lazy'
                  class='h-12'
                />
              </div>
            ),
          )
        }
      </div>
    </div>
  </figure>
</section>
