---
import classNames from 'classnames';
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={classNames(
    'relative flex h-4 w-4 items-center justify-center',
    className,
  )}
>
  <span
    class='absolute inline-flex h-full w-full animate-ping rounded-full bg-vermilion/90 opacity-75'
  ></span>
  <span class='relative inline-flex h-2 w-2 rounded-full bg-vermilion'></span>
</div>
