---
import classNames from 'classnames';
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={classNames(
    'relative flex h-4 w-4 items-center justify-center',
    className,
  )}
>
  <span
    class='bg-vermilion/90 absolute inline-flex h-full w-full animate-ping rounded-full opacity-75'
  ></span>
  <span class='bg-vermilion relative inline-flex h-2 w-2 rounded-full'></span>
</div>
