---
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import classNames from 'classnames';
import type { TCourse } from 'src/types/Course';
import ImageLiveLectureTools from '/public/home-page/live-lecture-tools-image.svg';
interface Props {
  course: TCourse;
}

const { course } = Astro.props;
---

<article>
  <a
    href='/'
    role='button'
    class='hover:bg-dark-gray/10 focus:bg-dark-gray/10 flex cursor-pointer flex-col items-center self-stretch rounded-[16px] border border-gray-200 bg-white p-3 transition ease-in-out hover:-translate-y-4 focus:-translate-y-4 laptop:p-4'
  >
    <div
      class={classNames(
        'relative flex bg-[url("/home-page/live-lecture-image.jpeg")] mb-6 laptop:mb-8 w-full min-h-[314px] laptop:min-h-[431px] bg-no-repeat bg-cover bg-center rounded-l tablet:rounded-l',
      )}
    >
      <div class='flex h-auto w-full rounded-l backdrop-blur-[2px]'></div>
      <div
        class='absolute left-4 top-5 flex justify-between laptop:left-6 laptop:top-6'
      >
        <div
          class='flex w-fit items-center gap-3 rounded-s border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]'
        >
          <LiveIndicatorPulse />
          <p class='text-xs font-normal text-white laptop:text-base'>
            Live Lectures
          </p>
        </div>
      </div>

      <Image
        src={ImageLiveLectureTools}
        alt='live-lecture-tools-image'
        loading='lazy'
        decoding='async'
        class='absolute right-4 top-5 laptop:right-6 laptop:top-6'
      />
    </div>
    <h1
      class='text-dark mb-1 place-self-start text-base font-bold laptop:mb-3 laptop:text-l'
    >
      {course.courseTitle}
    </h1>
    <p
      class='text-dark-gray place-self-start text-s font-medium laptop:text-base'
    >
      {course.type} &#183; {course.duration} months
    </p>
  </a>
</article>
