---
import StudentFeedback from '@components/sections/common/studentFeedback/StudentFeedback.astro';
import Header from '../header/Header.astro';
---

<div class='container max-w-screen-desktop pt-12 tablet:pt-15 laptop:pt-16'>
  <Header
    headerTitle='BOOTCAMP ALUMNI'
    title='Meet our alumni who work at companies like Amazon and Microsoft!'
  />
  <StudentFeedback />
</div>
