---
import type { ImageMetadata } from 'astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  image: ImageMetadata;
  title: string;
  description: string;
}

const { image, title, description, ...attrs } = Astro.props;
---

<div
  class:list={[
    'box-border w-[220px] rounded-s border-black/3 !bg-white shadow-card tablet:w-[290px]',
    attrs.class,
  ]}
  {...attrs}
>
  <div
    class='tablet:[180px] h-[130px] rounded-b-none rounded-t-s bg-red-700 bg-cover bg-no-repeat'
    style={{ backgroundImage: `url(${image.src})` }}
  >
  </div>
  <div class='p-3'>
    <h1 class='mb-2 text-xxs font-bold text-primary tablet:text-s'>{title}</h1>
    <p
      class='text-gray-1200 whitespace-pre-wrap text-xxs font-normal tracking-xs tablet:text-xs'
    >
      {description}
    </p>
  </div>
</div>
