---
import { Button } from '@components/Button';
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import ImageLiveLecture from '/public/qa-course/live-lecture-image.svg';
import ImageLiveLectureTools from '/public/qa-course/live-lecture-tools-image.svg';
---

<section
  class='wrapper flex flex-col gap-x-0 lg:flex-row lg:gap-x-6 xl:gap-x-8'
>
  <div class='grid gap-y-4 lg:w-1/2 lg:gap-y-6'>
    <h1
      class='self-stretch text-xl font-bold leading-2xl text-dark md:text-3xl md:leading-3xl'
    >
      Quality Assurance Bootcamp: Ignite Your Tech Journey!
    </h1>
    <p class='text-s font-normal leading-6 text-dark xl:text-base'>
      Transform into a QA engineer in just 5 months and gain in-demand skills.
      Join our live online classes and master the art of quality assurance.
    </p>
    <Button
      title='Start your adventure'
      className='h-fit w-fit !px-4 !py-2 !text-s font-semibold md:!px-6 md:!py-3'
    />
  </div>
  <figure
    class='relative mt-8 flex h-auto w-full flex-1 flex-col lg:mt-0 lg:w-1/2'
  >
    <Image
      src={ImageLiveLecture}
      alt='live-lecture-image'
      loading='lazy'
      decoding='async'
      class='h-full w-full rounded-s object-cover md:rounded-l xl:rounded-[16px]'
    />
    <div
      class='absolute left-3 top-4 flex items-center gap-2 rounded-s border border-live-gray bg-[#bebebe66] px-2 py-1 backdrop-blur-[2px]'
    >
      <LiveIndicatorPulse />
      <p class='text-xs font-normal text-dark'>Live Lectures</p>
    </div>
    <Image
      src={ImageLiveLectureTools}
      alt={'live-lecture-tools-image'}
      loading='lazy'
      class='absolute bottom-4 left-3 h-10 w-fit justify-normal object-contain object-left md:h-12'
    />
  </figure>
</section>
