---
import { Button } from '../../../Button';
---

<div class='container flex flex-col'>
  <div class='space-y-6'>
    <h1 class='text-xl font-bold text-dark leading-10'>
      Quality Assurance Bootcamp: Ignite Your Tech Journey!
    </h1>
    <p class='text-dark text-s font-normal leading-5'>
      Transform into a QA engineer in just 5 months and gain in-demand skills.
      Join our live online classes and master the art of quality assurance.
    </p>
    <Button title='Start your adventure' />
  </div>
  <div
    class='relative mt-8 bg-[url("qa-course/live-lecture-image.png")] w-full h-[235px] md:h-[486px] bg-no-repeat bg-cover'
  >
    <div
      class='left-3 top-4 absolute pl-2 pr-3 py-1 border border-dark-orange backdrop-blur-[2px] rounded-xs items-center flex'
    >
      <span class='relative flex h-2 w-2'>
        <span
          class='animate-ping absolute inline-flex h-full w-full rounded-full bg-vermilion/90 opacity-75'
        ></span>
        <span class='relative inline-flex rounded-full h-2 w-2 bg-vermilion'
        ></span>
      </span>
      <p class='text-dark text-[8px] font-normal leading-normal pl-1'>
        Live Lectures
      </p>
    </div>
    <!-- <img src='qa-course/live-lecture-image.png' alt={'live-lecture-image'} /> -->
    <img
      src='qa-course/live-lecture-tools-image.png'
      alt={'live-lecture-tools-image'}
      class='absolute bottom-4 left-4'
    />
  </div>
</div>
