---
import { Button } from '@components/Button';
import LiveIndicatorPulse from '@components/LiveIndicatorPulse.astro';
import { Image } from 'astro:assets';
import ImageLiveLecture from '/public/qa-course/live-lecture-image.svg';
import ImageLiveLectureTools from '/public/qa-course/live-lecture-tools-image.svg';
---

<section class='container flex max-w-screen-desktop flex-col gap-y-12 py-12'>
  <div class='grid gap-y-6'>
    <h1 class='text-xl font-bold text-black'>
      Quality Assurance Bootcamp: Ignite Your Tech Journey!
    </h1>
    <p class='text-s text-primary'>
      Transform into a QA engineer in just 5 months and gain in-demand skills.
      Join our live online classes and master the art of quality assurance.
    </p>
    <Button
      title='Enroll now'
      className='h-fit w-fit rounded-s !bg-primary !px-4 !py-2 !text-s !leading-none !tracking-wider !text-white'
    />
  </div>
  <figure class='relative flex h-auto w-full flex-1 flex-col'>
    <Image
      src={ImageLiveLecture}
      alt='live-lecture-image'
      loading='lazy'
      decoding='async'
      class='h-full w-full rounded-l object-cover'
    />
    <div class='absolute flex h-full w-full flex-col justify-between p-4'>
      <div
        class='flex w-fit items-center gap-x-3 rounded-s border border-gray-400 bg-gray-100 px-2 py-1 backdrop-blur-[2px]'
      >
        <div class='ml-2'>
          <LiveIndicatorPulse />
        </div>
        <p class='text-xs text-primary'>Live Lectures</p>
      </div>
      <Image
        src={ImageLiveLectureTools}
        alt={'live-lecture-tools-image'}
        loading='lazy'
        class='h-10 w-fit justify-normal object-contain object-left'
      />
    </div>
  </figure>
</section>
