---
import type { TFeedback } from 'src/types/Feedback';

interface Props {
  data: TFeedback;
}

const { data } = Astro.props;
const { country, feedback, imagePath, name } = data;
---

<div class='grid gap-y-2'>
  <div class='flex gap-x-3'>
    <!-- eslint-disable-next-line @typescript-eslint/no-unsafe-assignment -->
    <img alt='' src={imagePath} />
    <div class=''>
      <p class='text-s font-semibold text-primary tablet:text-xs'>
        {name}
      </p>
      <p class='text-xs font-normal text-gray-700'>{country}</p>
    </div>
  </div>
  <p class='text-s text-gray-700'>
    {feedback}
  </p>
</div>
