---
import { Image } from 'astro:assets';
import type { TFeedback } from 'src/types/Feedback';

interface Props {
  data: TFeedback;
}

const { data } = Astro.props;
const { country, feedback, image, name } = data;
---

<div>
  <div class='mb-2 flex gap-x-3'>
    <Image
      alt='student-feedback-image'
      class='h-10 w-10 rounded-s object-cover'
      src={image}
    />
    <div class=''>
      <p class='text-s font-semibold text-primary tablet:text-xs'>
        {name}
      </p>
      <p class='text-xs font-normal text-gray-700'>{country}</p>
    </div>
  </div>
  <p class='flex-1 text-s text-gray-700'>
    {feedback}
  </p>
</div>
