---
import './sucessStories.scss';
---

<div class='courses pt-12 flex flex-col gap-6 md:gap-4 lg:gap-6 xl:gap-4'>
  <div class='container'>
    <div class='flex flex-col justify-center content-center'>
      <h2 class='text-l font-bold leading-s pb-3 section_title'>
        Student success stories
      </h2>
      <div class='description text-xs font-normal leading-tight max-w-3xl'>
        Discover the inspiring journeys of our students who have transformed
        their careers through our programs. Hear their experiences, challenges,
        and successes directly from them.
      </div>

      <div
        class='flex flex-col mt-4 p-4 bg-white rounded justify-center content-center'
      >
        <div class='flex flex-col justify-center content-center'>
          <img
            src='https://placehold.co/300x160'
            alt='placeholder'
            class='w-full'
          />
        </div>

        <div class='flex flex-col justify-center items-start gap-4'>
          <h3 class='text-base my-2'>
            From stay-at-home mom to a software engineer
          </h3>
          <p class='sub-text'>1 min watch</p>

          <div class='flex flex-row justify-start content-center'>
            <img
              src='https://placehold.co/29'
              alt='person_photo'
              class='rounded-full mr-3'
            />
            <p class='sub-text'>Mike Rizzo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
