---
import Questions from '@components/sections/common/questions/Questions.astro';
import Header from '../header/Header.astro';
---

<section class='container max-w-screen-desktop py-13 tablet:py-15 laptop:py-16'>
  <Header title='Got a question about our bootcamp?' />
  <Questions />
</section>
