footer {
  h4 {
    color: #1d1e22;
  }

  li {
    color: rgba(29, 30, 34, 0.8);
  }
}

.line {
  background: #dadada;
  height: 4px;
}

input,
textarea,
button,
select,
a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
