@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply md:px-8 lg:px-12 mx-auto w-full max-w-7xl px-4;
  }
}

body {
  background-color: '#F6F4F2';
}

input,
textarea,
button,
select,
a,
label,
details {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

details summary::-webkit-details-marker {
  display: none;
}
