---
import StudentFeedback from '@components/sections/common/studentFeedback/StudentFeedback.astro';
import Header from '../header/Header.astro';
---

<div class='container max-w-screen-desktop pt-12 tablet:pt-15 laptop:pt-16'>
  <Header
    title='Our students are all over the universe'
    description={`Start a life-changing journey with our fully online courses. Keep your current job while gaining expertise in a new profession, all at your own pace`}
  />
  <StudentFeedback class='' />
</div>
